[2015-08-10 05:04] #848 closed

[2015-08-13 21:27] wiltzius opened #918 "Respect ERRBIT_PORT in creating notification URLs"
I believe this line:

https://github.com/errbit/errbit/blob/master/app/models/notification_service.rb#L57

creates the URL that gets posted to various notification services (in our case, Slack).

We run errbit on a non-standard port, which we set via the ERRBIT_PORT env variable, but while links in the web app work fine (preserve this port) the links generated in the notifications go to the wrong

[2015-08-13 21:30] wiltzius commented on #918
Note that for now as a workaround I just set our ERRBIT_HOST to include the port and this seems to work, but obviously feels a little fragile

[2015-08-13 21:37] stevecrozz commented on #918
Here's the fix I have in mind. Wanna give it a shot? https://github.com/errbit/errbit/pull/919

[2015-08-14 13:40] mediatainment opened #920 "Bad URI"
I have migrated my website from heroku to railshoster.de. Now the errbit/airbrake is not working anymore. Variables have been set same as  origin.

I've tried without the protocol ``ERRBIT_HOST=my_errbit_server.herokuapp.com`` and with it ``ERRBIT_HOST=http://my_errbit_server.herokuapp.com``. I also tried to add and remove doublequotes. But with no change.

Is this a server depended issue (misconf

[2015-08-15 20:35] griff opened #921 "Mongoid 5 update broke migrations"
The pull request that upgraded to mongoid 5 also removed the ```mongoid_rails_migrations``` gem so that ```rake db:migration``` now does nothing.

I tried to manually add ```mongoid_rails_migrations``` back but it seems that mongoid 5 also broke the actual migrations and I get this output:

[code]

[2015-08-16 01:48] stevecrozz commented on #921
Thanks for the quick find. It looks like we'll need to figure this one out to get migrations running again.

[2015-08-17 06:07] stevecrozz commented on #921
This may require some more effort than I thought. mongoid_rails_migrations doesn't support the latest mongoid or the latest rails and the author doesn't seem interested in spending time on it. It'll be up to us to decide in what capacity we want to continue using this project.

As a short term measure, we can instruct users to upgrade first to v0.4.0, run the migrations and then upgrade from there

[2015-08-17 16:25] arrowcircle commented on #885
Migration to pg will be awesome

[2015-08-17 17:21] rud commented on #885
@stevecrozz: do you have a PR ready for review for merging your work?

[2015-08-17 17:29] stevecrozz commented on #885
Yep @rud: I merged my changes this weekend. Everything I had is in master now. The performance improvement is solid. I'll write a wrap-up blog entry this week to highlight the changes. And I guess this ticket is solved as of #917

[2015-08-17 17:29] #885 closed

[2015-08-18 05:37] rud commented on #885
Awesome, thank you for the update and cross-linking the issues

[2015-08-18 21:55] wiltzius commented on #918
that seems to work great!

[2015-08-18 21:57] wiltzius commented on #918
although, that'll only fix it for Slack. Won't anything else (e.g. other notification services) that uses the problem_url() function in notification_service.rb still have the same problem?

[2015-08-18 22:39] stevecrozz commented on #918
good point. we should put together a PR for the other notification services

[2015-08-19 02:00] wiltzius commented on #918
would it be reasonable to simply modify the line in the original function?

On Tue, Aug 18, 2015 at 3:40 PM Stephen Crosby <notifications@github.com>
wrote:

[2015-08-19 02:48] stevecrozz commented on #918
I'd probably accept that PR, but I'd prefer not to have a method that just calls another method if I were doing it.

[2015-08-20 18:38] lucianosousa opened #922 "github/bitbucket repo & repository tab"
hi guys,

just an idea here.

I start use it in a lot of projects here at the same time and was annoying all the time see in the form bitbucket repo, since I'm using github. This is the first part.
Second one is: why not just one field called repository and drop the repository tab in favor of a url link located on the top of the div `content-wrapper`

Looks like easier to navigate in the project l

[2015-08-21 09:07] gkunwar commented on #583
I'm getting same error. Looking for solution.

[2015-08-22 01:16] stevecrozz commented on #922
I think we do need something here, but it's lower on the priority list than most of the other backlogged items. My thought is we should have the github-centric logic wrapped up inside https://github.com/errbit/errbit_github_plugin. But there are no hooks in Errbit that would allow plugins to do what's needed.

[2015-08-22 02:04] stevecrozz commented on #921
@griff Here's what I'm planning. I'm going to remove all the migrations from the codebase except the most recent one because all the others are quite old and I think we can safely stop maintaining them. Then I'll add documentation to let users know that if they're upgrading from a version prior to v0.3.0, then they'll need to upgrade to v0.3.0, run migrations, and then continue on to the version t

[2015-08-22 09:29] griff commented on #921
That would work for me. I temporarily worked around this issue by just using the commit just before the mongoid 5 merge.

[2015-08-22 19:07] stevecrozz commented on #921
Great. This issue should be solved now as of #925

[2015-08-22 19:07] #921 closed

[2015-08-24 19:55] lucianosousa commented on #269
Update. I just create one project for each env.
Works better in the end.

Cheers

[2015-08-26 16:12] kubaaa opened #926 "NameError: uninitialized constant IssueTrackers"
I update Errbit to last versions. If i click link http://errbit.net/apps, i get error  NameError: uninitialized constant IssueTrackers

activesupport-4.1.12/lib/active_support/inflector/methods.rbmethods.rb:238→ const_get
activesupport-4.1.12/lib/active_support/inflector/methods.rbmethods.rb:238→ block in constantize
activesupport-4.1.12/lib/active_support/inflector/methods.rbmethods.rb:236→ each

[2015-08-26 17:16] haobole commented on #926
:+1:

[2015-08-26 17:21] stevecrozz commented on #926
Thanks for the report @kubaaa . This could be due to a recent change I made in cleaning out a bunch of old migrations. Can you verify that you have followed these instructions?
https://github.com/errbit/errbit#upgrading-errbit-beyond-v040

[2015-08-27 09:46] kubaaa commented on #926
Yes. I run rake db:migrate on server. I use Redmine Tracker in my server.  The server has created an early app. If I try to view the app or to edit, I get the above error. To deploy, use this manual https://github.com/errbit/errbit/blob/master/docs/deployment/capistrano.md

[2015-08-27 17:33] stevecrozz commented on #926
@kubaaa Can you please show me the output of `rake db:version` for your environment and also the git sha1 you have deployed?

[2015-08-27 22:09] ch3m1c opened #927 "NameError: uninitialized constant Mongoid::Errors::NoDefaultSession"
rake aborted!
NameError: uninitialized constant Mongoid::Errors::NoDefaultSession
/home/deploy/webapps/errbit/config/environment.rb:16:in `<top (required)>'
Mongoid::Errors::InvalidConfigOption:

Problem:
  Invalid configuration option: identity_map_enabled.
Summary:
  A invalid configuration option was provided in your mongoid.yml, or a typo is potentially present. The valid configuration options

[2015-08-27 23:05] stevecrozz commented on #927
Looks like you still have a mongoid.yml file. You should delete that file and provide the mongo connection parameter as MONGO_URL (https://github.com/errbit/errbit/blob/master/docs/configuration.md).

[2015-08-28 08:04] funglaub opened #928 "App#unresolved_count is displayed as a float"
I just upgraded to the latest master and MongoDB 2.6.

Now the unresolved problems count is displayed as a float, eg. 1.0 or 0.0.

[2015-08-28 16:56] JohnMerlino1 opened #930 "Any instructions on how to get errbit working with gitlab?"
I do not know where to begin with this. I read over the readme file and sparse information I found online, but it has not helped. Under App > Edit, there is a field for Github repo and Bitbucket repo, not no reference to gitlab. I found somewhere that you have to enter information under "TICKET PROJECT ID (USE NUMBER)". Unfortunately, that box does not appear. It seems like you have to create code

[2015-08-28 17:12] stevecrozz commented on #930
Errbit does not officially support any gitlab integrations. There is a third party plugin that could provide an integration with gitlab as an issue tracker. If all you need is issue tracker support for gitlab, then the plugin may work for you. Just file an issue in https://github.com/brandedcrate/errbit_gitlab_plugin and we'll try to sort out the problem you found.

And definitely let me know if y

[2015-08-28 17:12] #930 closed

[2015-08-28 18:26] JohnMerlino1 commented on #930
@stevecrozz actually all I want is errbit to report errors. I assumed that using gitlab was the issue since it is not reporting any errors for me and I have already added the Airbrake.configure block in an initializer file.

[2015-08-28 18:40] stevecrozz commented on #930
Most likely, the app is not sending errors properly. But you can give Errbit a quick test on the CLI with curl (replacing api-key and the hostname with your own):
[code]

[2015-08-28 20:51] #887 closed

[2015-08-28 21:15] stevecrozz commented on #928
Thanks. I'm waiting for the answer to https://jira.mongodb.org/browse/MONGOID-4118 in order to figure out who's bug this is. But I think it may get fixed by mongoid 5 when it's officially released (we're currently using the beta).

[2015-08-28 22:16] stevecrozz commented on #920
This seems to be a problem specific to https://github.com/airbrake/airbrake You should raise an issue over there if you're still seeing this issue.

[2015-08-28 22:16] #920 closed

[2015-08-30 22:35] stevecrozz commented on #786
Fixed in #931

[2015-08-30 22:35] #786 closed

[2015-08-30 23:44] stevecrozz commented on #365
Closing for lack of activity. Plus we're planning to remove the deploy notifications.

[2015-08-30 23:44] #365 closed

[2015-08-31 08:46] projectorial commented on #926
bundle exec rake db:version
rake aborted!
Don't know how to build task 'db:version'

(See full trace by running task with --trace)

[2015-08-31 10:40] kubaaa commented on #926
bundle exec rake db:version
rake aborted!
Don't know how to build task 'db:version'

(See full trace by running task with --trace)

[2015-08-31 17:13] stevecrozz opened #933 "clean up backtrace_line_helper.rb"
@yhourdel discovered some potential leftovers from the mongoid5 refactor that need to be cleaned up. This task is to figure out if anything was left out during the refactor and delete the unused code.

[2015-08-31 17:16] stevecrozz commented on #926
@kubaaa that's not what I expected at all. Are you available to pop into https://gitter.im/errbit/errbit to chat?

[2015-09-03 14:05] lucianosousa opened #934 "Nokogiri::XML::SyntaxError"
Hi guys,

I've a lot of projects running in my errbit instance here and few of them have this error.

[code]

All of them works fine because the deploy was notified.
I know this happen in a specific project because what is show at ```raw_post_data```

[code]

any idea?

[2015-09-03 20:20] nolifelover opened #935 "error is not save into db."
i'm seeing request from grails application, this request return 200 ok but error is not create on errbit.

[code]

[2015-09-03 23:31] stevecrozz commented on #934
Is this Nokogiri::XML::SyntaxError raised by Errbit itself? If so, do you have a stacktrace you can share?

[2015-09-03 23:57] #927 closed

[2015-09-04 00:10] stevecrozz commented on #926
The only explanation I can come up with is you're on an outdated revision of errbit which has a bug. I'm expecting that you need to git checkout v0.4.0, run migrations, then pull the latest code from master.
[code]

[2015-09-04 00:16] stevecrozz commented on #912
@jaronkk #913 Removal of the deployment tracking feature is on the roadmap.

[2015-09-04 00:16] #912 closed

[2015-09-04 00:16] #902 closed

[2015-09-04 00:25] stevecrozz commented on #882
@espen: Seems like this was resolved during the mongoid upgrade. Should be fixed on master now.

[2015-09-04 00:25] #882 closed

[2015-09-04 00:26] stevecrozz commented on #878
Closing for lack of activity. Please reopen if you want to continue working through this or join me in https://gitter.im/errbit/errbit

[2015-09-04 00:27] stevecrozz commented on #870
Should be fixed in master.

[2015-09-04 00:27] #870 closed

[2015-09-04 02:20] stevecrozz commented on #868
The deployment tracking feature is on the chopping block with #913, so I'm going to close this feature and we can consider deployment tracking to be deprecated at this point. Please get in touch with me if you're really attached to this feature because there's still time to talk it over.

[2015-09-04 02:20] #868 closed

[2015-09-04 02:21] stevecrozz commented on #700
The deployment tracking feature is on the chopping block with #913, so I'm going to close this feature and we can consider deployment tracking to be deprecated at this point. Please get in touch with me if you're really attached to this feature because there's still some time to discuss it.

[2015-09-04 02:21] #700 closed

[2015-09-04 02:21] stevecrozz commented on #667
The deployment tracking feature is on the chopping block with #913, so I'm going to close this feature and we can consider deployment tracking to be deprecated at this point. Please get in touch with me if you're really attached to this feature because there's still some time to discuss it.

[2015-09-04 02:21] #667 closed

[2015-09-04 02:22] stevecrozz commented on #564
The deployment tracking feature is on the chopping block with #913, so I'm going to close this feature and we can consider deployment tracking to be deprecated at this point. Please get in touch with me if you're really attached to this feature because there's still some time to discuss it.

[2015-09-04 02:22] #564 closed

[2015-09-04 02:22] stevecrozz commented on #396
The deployment tracking feature is on the chopping block with #913, so I'm going to close this feature and we can consider deployment tracking to be deprecated at this point. Please get in touch with me if you're really attached to this feature because there's still some time to discuss it.

[2015-09-04 02:22] #396 closed

[2015-09-04 07:45] organicweb commented on #878
Oops sorry, completely forgot that problem !!

a-errbit@git:/usr/bin$ mongod --version
db version v1.2.2, pdfile version 4.5
Fri Sep  4 09:39:12 git version: nogitversion

Thx

[2015-09-04 08:34] mattbostock commented on #913
While not all apps will have awareness of their own version number, I think this change makes sense given:

a. blue-green deployments are being more common, especially given the rise in popularity of containers (so multiple versions of the same application running are more common)
b. tracking deployments is not an obvious feature for an application concerned with storing exceptions

Will it be pos

[2015-09-04 12:25] lucianosousa commented on #934
yes, it is.

[code]

I can imagine there is something related with blank airbrake token (checking this here)

[2015-09-04 14:02] brunoarueira opened #936 "Heroku console bin/rails No such file or directory"
For debug purposes, I want to access the console on heroku and I caught this behavior, I noticed that the errbit was upgraded to the newest rails versions and continues with 'script/rails' folder from older versions.

[code]

Thanks in advance,

[2015-09-04 14:39] ronin commented on #868
No, I am not attached. It is better to focus on more important features.

[2015-09-04 15:52] stevecrozz commented on #878
@organicweb mongo v1.2.2 is not a supported version of Errbit. Can you upgrade to v2.6+ ?

[2015-09-04 21:53] stevecrozz commented on #561
All users can now see all apps and follow / unfollow whichever apps they want. We may choose to add app-level access controls in the future, but if we do, the concept will no longer be conflated with 'following' an app.

[2015-09-04 21:53] #561 closed

[2015-09-06 20:20] #936 closed

[2015-09-08 18:22] #933 closed

[2015-09-09 16:17] rposborne opened #942 "Duplicate File Name in Backtrace and Link"
A picture is worth a thousand words,  this is happening on all notices.

Happens on all projects,
![screenshot 2015-09-09 12 14 35](https://cloud.githubusercontent.com/assets/243989/9767510/8ccb109a-56ec-11e5-809e-d10a0f6632e4.png)

[2015-09-09 17:35] stevecrozz commented on #942
@rposborne would you be willing to try out this fix? https://github.com/stevecrozz/errbit/tree/942_undouble_filenames_in_backtraces

[2015-09-09 23:36] stevecrozz commented on #942
I went ahead and merged the fix. You should be good to go now.

[2015-09-09 23:36] #942 closed

[2015-09-10 11:58] yhourdel commented on #933
@stevecrozz: does this mean you can now merge #932 ?

[2015-09-13 09:37] progressman opened #945 "iCal button on problem view doesn't work"
ActionView::Template::Error (undefined method `order_by' for #<Draper::CollectionDecorator:0x000008109dd2e0>):
    1: = generate_problem_ical(problem.notices.order_by(:created_at.asc))
  app/views/problems/show.ics.haml:1:in `_app_views_problems_show_ics_haml___3995733136216817843_17321158200'

[2015-09-15 01:21] #945 closed

[2015-09-15 13:13] j3ck opened #947 "time_ago_in_words - no implicit conversion of true into Hash"
How this line working?
https://github.com/errbit/errbit/blob/master/app/views/problems/show.html.haml#L40

From 4.0 version rails hasn't ```include_seconds``` parameter, just a options hash

https://github.com/rails/rails/blob/97f2c4129ae23ee074986a588628acc689a86462/actionview/lib/action_view/helpers/date_helper.rb#L156
[code]
I was moved by this question, because I get an error at this point.
[c

[2015-09-15 15:35] stevecrozz commented on #947
My guess is it doesn't work and this is a bug. I don't think many people use the comments feature and this bug would only appear when the comment is from a user who no longer exists. We should prepare a test case for this and then fix the issue.

[2015-09-15 15:40] stevecrozz commented on #934
@lucianosousa I added a PR to return a validation error when XML is invalid. Do you want to give that a try and see if it improves anything?
https://github.com/errbit/errbit/pull/948

[2015-09-15 17:11] lucianosousa commented on #934
@stevecrozz I just discovered this problem happened because I didnt set the proper api-key.

I suggest try fix this error in that way. Your solution is still too generic I think.

BTW, thanks for that.

[2015-09-15 17:15] stevecrozz commented on #934
@lucianosousa Can you send me the XML you were using? It may help me identify a better way to handle this case.

[2015-09-15 17:55] lucianosousa commented on #934
How can I do that? :) I've no idea It was in production env

[2015-09-15 18:06] stevecrozz commented on #934
Ok. I just am not sure what caused the XML to be invalid. Missing an API key wouldn't have caused this problem. It would have to be something invalid about the XML like missing a closing tag for example. Like if your API key was '<insert-key-here>' that would cause the XML to be invalid because the "tag" is unclosed, but that's just a wild guess about what was wrong. But its ok if you don't have t

[2015-09-15 18:06] #934 closed

[2015-09-15 18:37] lucianosousa commented on #934
@stevecrozz I think we can create a spec with this case scenario.
If there is none API Key in the request.

Later, I'll try catch this request inside my app with this test.

Thanks for all

[2015-09-15 18:52] stevecrozz commented on #934
No prob. FWIW I tried sending a document with no api-key content and the response was "Your API key is unknown"

Here's the document I used:
[code]

[2015-09-15 19:01] stevecrozz commented on #926
Github user @j3ck had a similar issue and we found that he had somehow a partially migrated database. I would like to know the underlying cause, but for anyone who is running into this issue, this is the result of not having run or only partly run this migration: https://github.com/errbit/errbit/blob/v0.4.0/db/migrate/20131011155638_extract_issue_tracker.rb

[2015-09-15 20:07] lucianosousa commented on #934
Which one was the version of your airbrake gem?
I used here the 4.3.1

[2015-09-15 20:27] stevecrozz commented on #934
I was not using the airbrake gem, this was just static XML from the fixtures folder. But I can try using the airbrake gem.

[2015-09-16 09:03] mvz opened #949 "Search no longer works (with MongoDB 2.4.14?)"
I just updated my errbit installation to the latest master, and search stopped working. I get the following error:

[code]

[code]

My previous deployment was on commit 6a23322, which includes an earlier version of mongoid (before 5.0).

Aparrently there was a change in the search functionality between mongodb 2.4 and 2.6, this may have something to do with it (see http://stackoverflow.com/questio

[2015-09-16 09:50] noniq opened #950 "Sending mail fails on Heroku (deploy instructions incomplete)"
For apps deployed on Heroku it is necessary to add these two settings:
[code]
If not set, sending mails fails with “Errno::ECONNREFUSED: Connection refused - connect(2)”.

(I discovered this because our errbit instance recently stopped sending notification mails after upgrading to latest master and the “cedar-14” stack.)

[2015-09-16 18:44] stevecrozz commented on #949
This is true. The next released version of Errbit will require at least mongo v2.6 (https://github.com/errbit/errbit/commit/43c0f238754c1e2848a7fdee832e7f0006262937)

So you should stay on v0.4.0 until you're ready to upgrade mongo.

[2015-09-16 18:44] #949 closed

[2015-09-16 18:50] mvz commented on #949
Ok, thanks!

[2015-09-17 04:27] #950 closed

[2015-09-17 04:27] stevecrozz commented on #950
Thanks for the report. I've updated the documentation.

[2015-09-17 08:36] noniq commented on #950
Great! :+1:

[2015-09-20 00:15] #947 closed

[2015-09-20 00:15] stevecrozz commented on #947
Thanks for reporting this @j3ck. I added a test and a fix.

[2015-09-26 09:56] lnr91 commented on #757
Hi @john-999 , were you able to fix this issue ? I have the same problem.

[2015-09-26 10:56] john-999 commented on #757
@lnr91 sorry, no (I remember commenting it out...).

[2015-10-01 02:30] lucianosousa commented on #928
@funglaub mongoid was updated these days. Can you update your errbit and check if everything is fine?

[2015-10-01 02:31] lucianosousa commented on #928
remember pull after #951 merge

[2015-10-01 17:54] stevecrozz commented on #935
I was able to post this error using curl and I see it in the UI. Which version of errbit are you using? I just tested this on master:
[code]

[post.txt](https://github.com/errbit/errbit/files/6231/post.txt)
![errbit cannot get property currentstudent on null object](https://cloud.githubusercontent.com/assets/133328/10228991/9621c9dc-682a-11e5-8063-878339cd31d4.png)

[2015-10-01 18:48] stevecrozz commented on #928
Thanks @lucianosousa. This is indeed fixed after upgrading to mongo 2.1.1. This fix is applied to master.

[2015-10-01 18:48] #928 closed

[2015-10-02 23:21] md5 opened #955 "SAML authentication"
Would you guys be open to a PR that adds `omniauth-saml` to enable optional SAML authentication for Errbit, similar to how the `GITHUB_AUTHENTICATION` stuff works?

If not, what approach would you recommend for integrating with SAML single-sign on? I'd love it if we didn't have to maintain a fork of Errbit in order to get SAML authentication.

[2015-10-03 00:57] stevecrozz commented on #955
SAML integration sounds great. We should just talk about how it can work and be useful to a wide audience of SAML users. Do you have a place I can go look at your implementation?

[2015-10-03 02:22] md5 commented on #955
@stevecrozz I haven't written any code yet, but I'm going to talk to my colleagues next week about setting aside some time to do so. Since we'd rather not maintain a fork, my thought was that I'd fall back to using GitHub authentication against an internal GitHub Enterprise instance if you guys weren't amenable to adding `omniauth-saml` to Errbit itself.

[2015-10-03 19:26] stevecrozz commented on #955
I'm fine with including that gem as long as the implementation is generic enough that other organizations could use it, and especially if you're willing to help maintain this feature and answer questions. I would just want to talk over how exactly the integration would work. Here's a barrage of starting questions do get the ball rolling:

Would you be able to provision new Errbit users using SAML

[2015-10-03 21:07] stevecrozz opened #956 "integrate font-awesome and replace icons"
Vector icons are easier for me to work with since I'm not a designer and since I need a new icon for a separate effort, it seems like a good idea to pull in a library like font-awesome for us to use.

[2015-10-03 21:08] #956 closed

[2015-10-03 23:21] md5 commented on #955
Since all apps under Errbit can be seen by all users (correct me if I'm wrong here), I think it would only make sense to allow SAML logins for existing users provisioned in Errbit. The SAML profile would be required to have an email address configured in order to make it available to Errbit for notifications.

I think this would at least work as an initial pass. I could see eventually supporting t

[2015-10-05 01:21] stevecrozz commented on #955
These answers all make sense to me. For something like this, I'd encourage something like the README-driven approach http://tom.preston-werner.com/2010/08/23/readme-driven-development.html

It sounds like you've got a good handle on how to make this happen, but I'm available to answer questions and discuss the implementation if needed.

[2015-10-05 23:37] md5 opened #957 "Setting GITHUB_URL to a GitHub Enterprise URL doesn't work for logins"
I tried setting `GITHUB_URL` to our internal GitHub Enterprise instance in my `.env` file and I was still redirected to `github.com` when I attempted to log in via GitHub.

Looking at `config/initializers/devise.rb`, it looks like there isn't any code to set `client_options` correctly as indicated here: https://github.com/intridea/omniauth-github#github-enterprise-usage

[code]

Has anyone success

[2015-10-06 00:02] md5 commented on #957
I've started writing some code for this here: https://github.com/appropriate/errbit/tree/github-enterprise-login

It still needs to set `api_endpoint` on `Octokit::Client` when needed. I can also update the `CHANGELOG.md` and add specs if desired.

[2015-10-06 00:15] stevecrozz commented on #957
@md5 That looks great! All it needs is a spec and a PR and I'll merge it in. Here's a quick example of another initializer test if it helps: https://github.com/errbit/errbit/blob/v0.4.0/spec/initializers/action_mailer_spec.rb

[2015-10-06 18:48] stevecrozz opened #959 "local .env file in development can wreak havoc on specs"
Any values in a local .env file affect the specs when I think they should not. In CI, there is no .env file. A developer should be able to set inputs in a local .env file without affecting the specs.

[2015-10-06 20:20] stevecrozz commented on #884
Fixed with #946

[2015-10-06 20:20] #884 closed

[2015-10-06 20:20] #957 closed

[2015-10-07 14:15] raulsann opened #960 "Backtraces show different paths in Errbit than in Airbrake"
Hi,

When using:

    Airbrake.notify(exception, airbrake_request_data)

If I send the backtrace to Airbrake we see the following:

<img width="1266" alt="airbrake" src="https://cloud.githubusercontent.com/assets/541900/10339993/51ecb0f4-6d0e-11e5-84e2-c4bcecc72e67.png">

The same exception is seen in Errbit as:

<img width="959" alt="errbit" src="https://cloud.githubusercontent.com/assets/541900/

[2015-10-07 22:31] stevecrozz commented on #960
@raulsann can you make sure you're using the latest errbit? This bug should have been fixed as of https://github.com/errbit/errbit/issues/942

If you're still seeing the problem can you tell me the git sha1 you are using?

[2015-10-08 10:10] raulsann commented on #960
I see....

Thank you Steve. I just pulled from master and this is what I get:

[code]

Since this error is not related to the issue of this thread I will keep looking for a solution and will reply back when I am able to test it out.

Thank you again, Steve!

[2015-10-08 10:20] raulsann commented on #960
Sweet! I went back to #942 and it is solved.

Thank you Steve!

[2015-10-08 10:20] #960 closed

[2015-10-08 15:57] stevecrozz commented on #960
@raulsann I think the bug you found on master will disappear when you upgrade to Ruby 2.1 or higher.

[2015-10-08 16:49] md5 commented on #959
Maybe something mocking `Dotenv::Environment.new('.env')` with something like this would work: https://relishapp.com/rspec/rspec-mocks/docs/configuring-responses/calling-the-original-implementation#`and-call-original`-can-configure-a-default-response-that-can-be-overriden-for-specific-args

[2015-10-08 16:51] md5 commented on #959
Per perhaps somehow mocking the `Dotenv.load` call that happens here to ignore the `.env` argument: https://github.com/bkeepers/dotenv/blob/master/lib/dotenv/rails.rb#L27-L30

[2015-10-13 09:43] gsalgado opened #967 "Response on succesfull error creation should have 201 status"
Airbrake seems to reply with a 201 status when new errors are added, but errbit (HEAD) replies with 200, thus causing an error on gobrake: https://github.com/airbrake/gobrake/blob/master/notifier.go#L138

[2015-10-13 15:51] stevecrozz commented on #967
Thanks for the report, I'm calling this a bug and will prioritize this.

[2015-10-13 15:57] stevecrozz commented on #959
I'm thinking it might be a good idea for developers to put their own configuration in a separate file, like .env.development or .env.local. This would be a gitignored file with lower precedence than .env, but if we document that it should give developers a way to set inputs that don't apply to the specs. Any thoughts?

[2015-10-13 16:12] md5 commented on #959
`dotenv` loads both of those filenames by default, but the idea seems reasonable.

I'm thinking this may be worth a feature request to `dotenv`, since this is probably a more general problem.

[2015-10-13 16:14] md5 commented on #959
Actually, I guess that telling developers to use `.env.development` would be fine since `.env.test` would be loaded for specs. Using `.env.local` would get loaded for all environments.

[2015-10-14 14:30] ajardan opened #968 "500 error when an errbit error is generated"
[code]

[2015-10-14 15:55] stevecrozz commented on #968
@ajardan Can you verify that you're using mongo v2.6 or greater?

[2015-10-14 20:12] curtislacy opened #969 "500 error when trying to log in."
Mongolab recently moved our database to mongoDB 3, and I updated errbit to the current master branch today.  When errors come in, they're pushed out to Hipchat, and that part works.  However, when I try to actually log into errbit, I get this message in my browser:

<img width="429" alt="screen shot 2015-10-14 at 4 09 47 pm" src="https://cloud.githubusercontent.com/assets/1965022/10496300/0d695b5a

[2015-10-14 21:24] stevecrozz commented on #969
@curtislacy Thanks for the report. In all cases where I've seen this error so far, the answer has been that this migration was not fully applied:
https://github.com/errbit/errbit/blob/v0.4.0/db/migrate/20131011155638_extract_issue_tracker.rb

If you have a log from when this migration was applied, I'd love to see it because I know a few others have run into this, but I haven't yet figured out why

[2015-10-14 22:11] mfazekas commented on #898
I'm using airbrake-js 0.5.3 and errbit afb42823560d898b0ab19a272705cde03b2a36d9 and i still see this error:

[code]
i've added CORS headers which seems to solved the issue.
[code]

[2015-10-14 22:27] stevecrozz opened #970 "cross domain javascript error reporting not working (airbrake-js)"
It looks like we lost the Access-Control-Allow-Origin header along with:
https://github.com/errbit/errbit/commit/6a233224beeb6f7882f488cbfc41a2858f8f00bb

This will need to be restored in order to use airbrake-js

[2015-10-14 22:27] stevecrozz commented on #898
Thanks for the report @mfazekas. I raised your issue separately here: https://github.com/errbit/errbit/issues/970

[2015-10-15 00:48] #970 closed

[2015-10-15 01:10] curtislacy commented on #969
@stevecrozz Thanks for the reply - I'd seen that migration mentioned in a few other places as I looked into this, and I'm inclined to believe you.  I'm not sure exactly when it was applied though, so digging up the log for it is tricky.  Is there a way to roll down the migrations until this one is unapplied, and then reapply it?  Or does the empty ```self.down``` function (https://github.com/errbi

[2015-10-15 01:37] stevecrozz commented on #969
@curtislacy It's probably better to apply it by hand by running it in ./bin/rails console once we have an idea of what's up. It probably could be run backwards and back up as most of the migrations are idempotent, but I don't think the migration framework allows for doing this on a single migration in history. I think they are applied as a chain, so rolling back would involve rolling back any migr

[2015-10-15 08:29] karlingen opened #971 "Default login for errbit running on Heroku?"
What is the default admin login for deployments made using the heroku button located at https://github.com/errbit/errbit/blob/master/docs/deployment/heroku.md ?

[2015-10-15 11:49] ajardan commented on #968
@stevecrozz that's right, I upgraded Mongo to 3.0 and it works well. Thanks, and sorry.

[2015-10-15 11:49] #968 closed

[2015-10-16 07:57] funglaub opened #973 "App sorting seems incorrect"
I'm using errbit from the current master and the sorting of all apps by the unresolved count seems to be wrong: apps with the highest unresolved count appear somewhere in the middle or at the end of the list. The first item has an unresolved error count of 0.

Is this a bug or did I miss something when upgrading?

[2015-10-16 17:57] stevecrozz commented on #973
Yeah this was my mistake and I just realized it. We had another user @lucianosousa who wanted apps to be sorted differently: https://github.com/errbit/errbit/pull/924

And I didn't understand the intent at the time, but I ran across the answer it a few days ago in how it used to work: https://github.com/errbit/errbit/blob/v0.4.0/app/models/app.rb#L179-L184

We apparently have conflicting desires a

[2015-10-16 18:47] lucianosousa commented on #973
what I did was just sort by name.
my problem before it was:
I've a lot of apps with different envs, eg: [ app acceptance, app staging, app production]

to find the errors in these apps, I scroll a lot(sometimes, command + f plus app name).
now, I've this set of apps together, and looks easier to me.
---
@stevecrozz, this sort per column function looks interesting. at the first time using the app,

[2015-10-16 18:49] lucianosousa opened #975 "App Search by name"
As I mentioned in another issues, it's quite hard to find app infos when you have a lot of them.

I'm thinking about a search by name feature.
What you guys think about it?

[2015-10-18 22:40] xdmx commented on #970
I'm still experiencing this issue.
I've installed the last version of errbit (06569f9d9215370a8964bfbb4848611249bb0309) and I'm using it with [airbrake js 0.3.12](https://ssljscdn.airbrake.io/0.3/airbrake.min.js)
This is from the console:

[code]

From the rails log it appears to be missing the OPTIONS route:
[code]

[2015-10-19 02:23] stevecrozz commented on #970
Hi @xdmx . Your version of airbrake-js is too old. As of https://github.com/airbrake/airbrake-js/pull/143 (v0.4.3), airbrake-js no longer sends the preflight (OPTIONS) request. This should not be a problem once you upgrade airbrake-js. The most recent version is v0.5.3.

[2015-10-19 11:46] funglaub commented on #973
Well this is rather a a matter of taste than being a real problem. I created this issue since I noticed the behaviour changed after I updated.

@lucianosousa's point makes sense too. But for me it's more imported to see what's actually having unresolved errors in a long project list :) How about making this option configurable at `/site_config`?

[2015-10-19 11:47] ChrisWesterfield opened #976 "[production][apps#update] NameError: undefined local variable or method `params' for #<ErrbitJiraPlugin::IssueTracker:0x000..."
[See this exception on Errbit](https://errbit.xxxxxxxxxxx.biz/apps/5624d1db41d7877acc000001/problems/5624d1db41d7877acc000002)
# NameError: undefined local variable or method `params&#39; for #&lt;ErrbitJiraPlugin::IssueTracker:0x000000086e9e40&gt; #
## Summary ##
### URL ###
[https://errbit.xxxxxxxxxxx.biz/apps/561eddfb41d787301a000007](https://errbit.xxxxxxxxxxx.biz/apps/561eddfb41d787301a000007

[2015-10-19 11:50] ChrisWesterfield commented on #976
I installed the Plugin according to the Installation howto.
I fixed one minor bug in the plugin but it started to work.
everytime that I store changes I get this error.
No matter if it is the hipchat notification or the jira issue

[2015-10-19 17:15] lucianosousa commented on #973
Too much options. I think the best approach will be some kind of table sort(per column)

[2015-10-19 17:44] stevecrozz commented on #973
Yeah maybe table column sorting is the best option. Of course as soon as we add that, the next feature will be to persist your column sorting preference. My current thinking is to restore the old behavior of sorting apps by unresolved error count. Then we can add a story about per-column sorting.

[2015-10-19 18:15] taelor opened #978 "How to configure Errbit to fix "Errbit Timeout::Error: Waited 0.5 sec""
Does anyone have any suggestions on how to configure errbit to avoid this error? I'm not sure what exactly the problem is, but I have a feeling it might be our Mongo configuration. I'm not too familiar with Mongo, so I'm not sure what I would need to change to help avoid this issue.

Is there some sort of connection pool that I might need to turn up on Mongo?

[code]

[2015-10-19 20:05] lucianosousa commented on #973
https://github.com/errbit/errbit/commit/644116d884df846f633ee0d213fab94138e80465

[code]

will fix it

[2015-10-20 06:42] funglaub commented on #973
I'm fine with that, too

[2015-10-20 12:57] robinboening opened #981 "Password reset broken"
Hey there,

Situation: (Errbit v0.5.0) I request a new password and click on the link from the mail to set a new password. Then I type a new password and submit the form.

Issue: I receive an error telling me I need to provide a username.

Expected behavior: After submitting the form with the new password, it should be set (without the need of a username).

<img width="679" alt="errbit_password-re

[2015-10-20 15:41] funglaub opened #982 "Email says "This error has occured 0 times" for the first occurance"
If you enable email notifications, the email says "This error occured 0 times" for the first exception that errbit catches.

Shouldn't that be "1 times"?

[2015-10-20 15:47] stevecrozz commented on #982
Yeah zero must be wrong. It sounds like a bug.

[2015-10-20 15:48] stevecrozz commented on #978
@taelor are you using the google talk / jabber / xmpp notifier?

[2015-10-20 16:16] stevecrozz commented on #976
@ChrisWesterfield It looks like the jira plugin is no longer compatible with the latest errbit. I see you already found the right place to raise this issue, so I'll respond over in https://github.com/codemancode/errbit_jira_plugin/issues/1

[2015-10-20 16:16] #976 closed

[2015-10-20 18:46] taelor commented on #978
No, not using either of those. It also seems like its happening before the error is getting created/logged.

[2015-10-20 19:42] jerefrer commented on #969
Okay I ran into the same issue for the same reason (mongo 3 update on mongolab).

Applying by hand to migration worked for me, but I had to fix `App.collection.where` to `App.where`.

You'll find the whole script to run below:

[code]

[2015-10-20 20:50] stevecrozz commented on #975
@lucianosousa how many apps do you have?

[2015-10-20 21:16] stevecrozz commented on #973
Fixed with https://github.com/errbit/errbit/commit/b1fe739a5bf829913d37e7ed0c2f5fb701e67b5d

More discussion to come in https://github.com/errbit/errbit/issues/975

[2015-10-20 21:16] #973 closed

[2015-10-21 09:57] xdmx commented on #970
You're right. I've upgraded to the last version and errors are correctly sent. Thank you for your hard work on errbit :smile:  :beers:

[2015-10-21 11:26] funglaub commented on #973
I just pulled from master and it's still not sorting by error count (and neither by name, somehow just random). Did I miss something?

[2015-10-21 13:24] lucianosousa commented on #975
more than 40 registered.
few are the same but with different envs(acceptance, production)

[2015-10-21 21:03] stevecrozz commented on #975
It sounds like that's small enough to do a nice little typeahead client-side search. Something to consider I think as long as people don't tend to have hundreds or thousands of apps.

[2015-10-21 21:06] lucianosousa commented on #975
Will you reject my PR if I build it? :)

[2015-10-21 21:09] stevecrozz commented on #978
@taelor You may be running out of connections in your connection pool. Most errbit users likely use a single-threaded, multiple-process unicorn server and that's the way we have documented the capistrano and heroku deployment scenarios.

If you're wanting to just get past this, I'd suggest adopting that model. On the other hand, if you're wanting to help forge the path ahead, let's keep this issue

[2015-10-21 21:16] stevecrozz commented on #975
I would pull it in as long as the implementation is simple and has a test or two to make sure it doesn't break.

[2015-10-21 21:42] stevecrozz commented on #981
It seems that you are running errbit with ERRBIT_USER_HAS_USERNAME=true, but your user does not have a username. When this flag is enabled, it means users without usernames are invalid. What's interesting about this is you shouldn't be able to have a user in this state unless you were formerly running with ERRBIT_USER_HAS_USERNAME=false and enabled it later. Is that what's going on?

[2015-10-21 21:45] stevecrozz commented on #971
Hey @karlingen, the login is randomly generated for each install. It is printed to STDOUT when you first run the deploy procedure, but you can reset it again by running rake errbit:bootstrap.

[2015-10-21 21:45] #971 closed

[2015-10-21 22:04] stevecrozz commented on #969
I'm going to close this issue because it really just seems like this old migration was never applied, but I want to leave a bit more info here in case anyone else is running into this.

v0.5.0 and master errbit don't contain the old migrations, so if these old migrations were never run, that cannot be fixed automatically in v0.5.0+ since I purged all the old migrations from the codebase. The answe

[2015-10-21 22:04] #969 closed

[2015-10-21 22:20] stevecrozz commented on #968
No prob. Glad you're up and running

[2015-10-26 23:50] jeremywadsack commented on #926
I've run into the same issue. How do I tell if a migration is run (or run a single migration)? I checked in the `data_migrations` collection but it doesn't have anything old:

[code]

We started with an older version of errbit. It failed because MongoLabs upgraded everyone to MongoDB 3.0 and the mongoid driver didn't seem to support that.

I tried upgrading to v0.4.0 but that still gave me authent

[2015-10-27 00:07] stevecrozz commented on #926
@jeremywadsack You did find the right way to see if a migration has been run, and we can see from that output that 20131011155638 has not been run. The reason the migrations are not all present in the latest release is because upgrading to mongoid 5 left them broken. My rationale was since these were 2+ years old, most people had already run them and it would be safe to delete them. I thought user

[2015-10-27 00:35] jeremywadsack commented on #926
@stevecrozz Thanks for the quick response. If there's anything I can do to help on this let me know. We'd like to get our errbit back up and running. ;)

We installed this on April 2014 using what was likely master at the time. I recall updating it at least once since then and thought I also updated to master. I assume I would have run migrations, but perhaps I didn't. Would it have worked without

[2015-10-27 00:54] stevecrozz commented on #926
Hm. I don't recall having done that, but it looks like that did happen. Interestingly since this migration is not recorded in your db, the instructions would still have worked for you if you were able to run them on v0.4.0. If you had run the previous edition of that same migration and it was recorded in your db, then this would fail for that entirely separate reason. This is getting complicated,

[2015-10-27 07:13] funglaub commented on #973
Did you possibly forget to change https://github.com/errbit/errbit/blob/v0.4.0/app/models/app.rb#L179-L184 as mentioned in your [comment](https://github.com/errbit/errbit/issues/973#issuecomment-148785871)?

[2015-10-27 08:21] xdmx opened #984 "Custom fingerprints are ignored when a new error is created"
I've upgraded to the current master and the last airbrake-js, but the custom fingerprints don't seem to work correctly. After the upgrade I ran rake errbit:notice_refingerprint and also after each time I enabled/disabled each options in the config, but the errors weren't splitted/merged as expected.

The only thing that changes in errors it's the backtrace.. but it shouldn't use it since I've set

[2015-10-27 15:40] stevecrozz commented on #973
It appears to be here: https://github.com/errbit/errbit/blob/master/app/models/app.rb#L177-L181 in master.

[2015-10-27 15:43] stevecrozz commented on #984
@xdmx The spec only proves it works for varying backtraces: https://github.com/errbit/errbit/blob/master/spec/interactors/notice_refingerprinter_spec.rb

Do you want to try to add your case here? It would be awesome if you could take two of your actual notices and write a spec that shows how the notice refingerprinter is not working the way you expect.

[2015-10-27 17:14] stevecrozz commented on #984
actually, it might be easier to implement specs here https://github.com/errbit/errbit/blob/5639825eace4f18839a5b3279f4223060def471a/spec/models/notice_fingerprinter_spec.rb

[2015-10-27 18:09] xdmx commented on #984
Hi Stephen, I'm not sure how I should add it, maybe editing the fabricator? Or adding directly the text in that spec?
Anyway, taking the current errors, two are the same but not merged (the backtrace config in the fingerprint is disabled), this is the common data:
[code]

And this the first backtrace:
[code]

And here the second:
[code]

[2015-10-30 16:48] md5 opened #987 "List watched apps"
As far as I can tell, there isn't currently a place for a user to see a list of their watched apps. I think this would be a nice feature to have.

[2015-10-30 20:57] stevecrozz commented on #987
I agree.

[2015-10-30 20:59] stevecrozz commented on #984
I would like to get this straightened out before releasing v0.5.0. I'll see if I can reproduce the problem with the information you provided. If you can provide a dump of your notices table, that could be helpful too.

[2015-10-30 21:24] stevecrozz commented on #984
@xdmx: this test supposedly proves this works: https://github.com/errbit/errbit/blob/master/spec/models/notice_fingerprinter_spec.rb#L13-L24

Can you tell what's wrong by plugging your data into this test? Even if you just hack it all up to illustrate your the problem you're seeing that would be super helpful.

[2015-10-30 21:32] md5 commented on #987
@stevecrozz Do you think that just adding a "Watched?" column to the main "Apps" view would make sense, or should a separate `/apps/watched` view be created?

I could also see it making sense to have "Watch"/"Unwatch" buttons on each row of the main "Apps" view.

[2015-10-30 21:53] stevecrozz commented on #987
We could have some filters that pass query string arguments to the /apps index. Like /apps?watched_by=me. There could be filter links at the top of the index to allow the user to specify these filters. I really enjoy the way github does it for issues:
![issues errbit errbit](https://cloud.githubusercontent.com/assets/133328/10858908/b4b2fcd4-7f15-11e5-8231-b8b8981f077b.png)

This is far more power

[2015-10-30 23:17] xdmx commented on #984
I haven't tried to put my data, but simply changing the [one testing the backtrace](https://github.com/errbit/errbit/blob/master/spec/models/notice_fingerprinter_spec.rb#L26) with the follow:

[code]

f1 and f2 have the same notice and backtrace, so the fingerprint is expected to be the same

f1 and f3 have 2 completely different backtraces, and the config is set to consider the first line, so it'

[2015-10-30 23:30] xdmx commented on #984
My bad, it seems that the backtrace_lines is used to generate the fingerprint as well, trying with:
[code]

it seems that it generated the correct fingerprints (f1=f2, f3=f4, f5!=f6, f7=f8). I'm not sure how I can replicate what it happens on the deployed version.

Could it be because I upgraded from 0.4 (even though I've followed the instructions and regenerated the fingerprints)?

[2015-10-31 01:11] stevecrozz commented on #984
I don't think it could be the fault of this upgrade, but if you're in a debugging kind of mood, it would be interesting to see how this ends up doing the wrong thing. You could modify the finder on line 10 here to grab a couple of interesting notices and print the fingerprints to see what's happening:
https://github.com/errbit/errbit/blob/7352a1ce773b04a326c841531fe4b6b338a2cac6/app/interactors/no

[2015-11-05 16:50] moubry opened #993 "Remove dependency on MongoDB"
MongoDB is licensed under AGPL, so its use (in any capacity) is strictly banned by many companies [such as Google](http://www.theregister.co.uk/2011/03/31/google_on_open_source_licenses/). There is a commercial license available for MongoDB, but it’s pretty expensive.

Since Errbit’s implicit goal is to be a free alternative to Airbrake—its use of MongoDB may be in-conflict with that goal, since M

[2015-11-05 17:09] moubry commented on #993
This pull request to use Postgres would work: https://github.com/errbit/errbit/pull/623.

The rationale for not merging that pull request is that it didn't offer a big enough benefit. I'd just like to raise licensing of MongoDB as an additional reason for switching.

[2015-11-09 11:13] svoop opened #994 "Search broken – maybe due to problem with migrations"
I'm not sure whether this is a general problem or just happening on my install. Since I've updated three days ago, searching for errors results in the following:

Looking at the migrations, there are three:

    20150527202629_add_v1_to_hipchat_notification_services.rb
    20150926035420_cache_app_on_notice.rb
    201510290041_extract_issue_tracker.rb

However, the following happened during the up

[2015-11-12 00:32] meliborn opened #996 "Moped::Errors::AuthenticationFailure in Devise::SessionsController#create"
Errbit hosted on Heroku. Version is ```0.3.0.dev```
When I trying to sign in, I getting this:
[code]

What's wrong? It works fine before, but I visit my errbit long time ago (2 month approx.)

[2015-11-12 00:33] stevecrozz commented on #996
Your mongo may have been recently updated. I think mongolab did this recently for all users.

[2015-11-12 00:33] meliborn commented on #996
What does it mean for me? What should I do?

[2015-11-12 00:34] stevecrozz commented on #994
Can you make sure that you both a) are using mongo 2.6+ and b) have run rake db:mongoid:create_indexes

[2015-11-12 00:38] stevecrozz commented on #993
I have no strong attachment to mongo aside from not wanting to do the work of porting errbit to another technology. PR #623 could maybe be salvaged in parts, but it would need a lot of work to merge cleanly with the current errbit.

@moubry Do you work at a company where you cannot use errbit because of mongo licensing issues?

[2015-11-12 00:40] stevecrozz commented on #996
If you have recently been upgraded to mongo 3.0, then you may just need to upgrade errbit. Try (after backing up your db), upgrading errbit to the latest version to see if that fixes your issue. Remember to follow along with https://github.com/errbit/errbit#upgrading

[2015-11-12 11:10] svoop commented on #994
That's a yes (mongodb 2.6.8) and another yes (create_indexes done).

[2015-11-12 13:09] svoop commented on #994
@stevecrozz

I've followed [your upgrade instructions[(https://github.com/errbit/errbit#upgrading), however, if I skip the `db:mongoid:remove_undefined_indexes` rake task, the search works fine.

As for the `rake db:version` riddle, I'm somewhat expecting the migrations to be executed ordered by date, maybe I'm wrong there.

[2015-11-12 17:33] stevecrozz commented on #994
I can see this problem too now. rake db:mongoid:create_indexes does add the right indices to the mongo database, but rake db:mongoid:remove_undefined_indexes removes the full text index when it should not. It could be a bug in mongoid and I'm going to look into it.

[2015-11-12 18:21] stevecrozz commented on #994
Looks like this is indeed a mongoid bug. I've raised the issue on mongodb's issue tracker: https://jira.mongodb.org/browse/MONGOID-4189

I'm going to leave this issue open because this is a problem for errbit too as you've noticed. It could probably be worked around by reversing the instructions to drop the undefined indexes first, then create them. It's not a great workaround because it would dro

[2015-11-12 21:36] estolfo commented on #994
Hi, thanks for reporting that bug in Mongoid, I'm taking a look. I want to confirm that the bug was found on MongoDB server version 2.6.8 ? Thanks

[2015-11-12 21:48] stevecrozz commented on #994
@estolfo, @svoop did report the bug using mongodb v2.6.8, but I reproduced it using mongodb v2.6.3, so it seems to affect at least these two versions.

[2015-11-12 21:49] estolfo commented on #994
ok cool, I'm looking into it. Thanks!

[2015-11-13 16:16] moubry commented on #993
/cc @boblail

[2015-11-15 19:59] stevecrozz opened #999 "change server support from unicorn to puma"
Unicorn has been great, but puma has a cleaner API and easier threading support. According to anecdotal evidence from various blog entries I've found, puma has significant performance advantages and is also now [officially recommended over unicorn by heroku](https://devcenter.heroku.com/changelog-items/594).

[2015-11-16 15:18] estolfo commented on #994
As of this commit https://github.com/mongodb/mongoid/commit/4bab71a802d42f6156eb8a00b8c53358c23ca5a6 the issue should be fixed in Mongoid master and we be in the 5.0.2 release. Let me know if you have a chance to test it out.

[2015-11-16 16:06] IBazylchuk commented on #994
@estolfo i used latest commit from master mongoid, still have same issue. mongo 3.0.2

[2015-11-16 16:30] IBazylchuk commented on #994
same if skip db:mongoid:remove_undefined_indexes, then work

[2015-11-16 16:38] estolfo commented on #994
Sorry, I'm not sure I understand your last comment. It is working now?

[2015-11-16 19:47] svoop commented on #994
Unfortunately, I can't test this right now. My only install at this point is a deployment one which is why I can't easily switch to mongoid from master. However, I hope to get to setup a test clone by the end of the week.

I guess, @IBazylchuk means that if he follows all [steps of the upgrade instructions](https://github.com/errbit/errbit#upgrading), the problem is still there:

    git pull orig

[2015-11-17 11:01] estolfo commented on #994
I've confirmed that this is indeed fixed while testing on MongoDB server version 2.6.11.
Please see my comment on the Jira ticket [here](https://jira.mongodb.org/browse/MONGOID-4189?focusedCommentId=1090273&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-1090273).

@IBazylchuk, are you sure you're pointing to mongoid master in your Gemfile? Can you give me more detail

[2015-11-23 18:23] svoop opened #1001 ""key too large to index" reloaded"
This seems to be related to #848.

I sometimes get the following Mongo::Error::OperationFailure:

The backtrace shows:

    app/models/problem.rb:85→ cache_notice
    app/models/error_report.rb:78→ cache_attributes_on_problem
    app/models/error_report.rb:56→ generate_notice!
    app/controllers/notices_controller.rb:15→ create

Which points to this code:

    Problem.where('_id' => id).find_one_

[2015-11-23 18:28] stevecrozz commented on #1001
Good catch. I think the optimizations I made here actually bypass the before_save hooks. We'll need to apply the same fix here.

[2015-11-24 17:58] stevecrozz commented on #913
Deployment tracking is gone in master

[2015-11-24 17:58] #913 closed

[2015-11-24 20:32] tvdeyen commented on #994
I am having the same issue. Upgraded like described above. Then tried to revert like @stevecrozz said in https://github.com/errbit/errbit/issues/994#issuecomment-156190291

* `rake db:mongoid:remove_undefined_indexes`
* `rake db:mongoid:create_indexes`

Removing indexes worked.

Re-creating the indexes failed with:

[code]

I am on Mongodb v3.0.7

Then tried to use `mongoid` master even then remov

[2015-11-26 13:13] svoop commented on #913
@stevecrozz Dropping the deployment tracking feature in favor of a version property sounds like a good move. However, given the app is aware of it's version (e.g. by asking git), how would you pass this info to the Airbrake gem in order to have the version property passed to Errbit? A little example would be very helpful.

[2015-11-27 21:07] otzy007 commented on #999
:+1:

[2015-12-02 00:37] stevecrozz commented on #913
@svoop If you're using the JSON API, I think the right field to use is context.version: https://airbrake.io/docs/#create-notice-v3

Errbit doesn't yet have any smarts for what to do with this info, but if you have some ideas we could discuss them on the mailing list or the gitter chat.

[2015-12-02 00:46] #967 closed

[2015-12-02 00:47] stevecrozz commented on #967
@gsalgado Fixed in master

[2015-12-02 02:51] stevecrozz commented on #996
@meliborn Do you have any updates on this? Are you still seeing an issue?

[2015-12-02 03:09] stevecrozz commented on #994
Playing around with the latest mongoid seems to cure the problem for me:
https://github.com/stevecrozz/errbit/tree/mongoid51

I can see that the indices are created when I run rake db:mongoid:create_indexes, and they are not removed when I run rake db:mongoid:remove_undefined_indexes. If I add extra indices, they are removed as expected. I'll put in a PR for this when the new mongo version is rele

[2015-12-02 03:12] stevecrozz commented on #994
@tvdeyen I'm not sure what's happening in your scenario. Maybe you can get past it by removing that index from the mongo console: https://docs.mongodb.org/manual/reference/method/db.collection.dropIndex/#db.collection.dropIndex

[2015-12-02 03:46] stevecrozz commented on #984
Did you find a way past this issue @xdmx or are you still seeing it?

[2015-12-02 03:50] stevecrozz commented on #981
My plan is to disable all validations other than password validations when doing a password reset. This should be safe enough since only the password can be updated during a password reset.

[2015-12-02 03:52] stevecrozz commented on #978
Did you get anywhere on this issue @taelor? Do you want to talk it over on gitter or on the mailing list?

[2015-12-02 03:54] stevecrozz commented on #955
@md5 Is this something you're working on now?

[2015-12-02 03:55] stevecrozz commented on #935
Are you still seeing an issue @nolifelover

[2015-12-02 03:56] stevecrozz commented on #926
This issue should be behind us now that @jeremywadsack has restored the missing migration.

[2015-12-02 03:56] #926 closed

[2015-12-02 03:58] #878 closed

[2015-12-02 05:09] md5 commented on #955
We've been getting along OK with the GitHub Enterprise-based login, so I haven't been motivated to prioritize this work.

Aside from my relative satisfaction with using GHE for logins and competing priorities, I've also realized since I opened this issue that `omniauth-saml` is not being actively maintained. I've been watching that repo since about the time I opened this issue and there are quite

[2015-12-02 06:09] md5 commented on #987
I had a bit of time this evening to look at this and started a branch: https://github.com/appropriate/errbit/tree/watched-apps

[2015-12-02 09:44] tvdeyen commented on #994
@stevecrozz thanks! I could manage to drop the old index with `db.problems.dropIndex()`, but now I get following error:

[code]

I guess this is related to https://github.com/errbit/errbit/issues/848

I'm on latest mongoid, errbit and mongodb.

Thanks for your help.

[2015-12-02 13:53] meliborn commented on #996
@stevecrozz No, after upgrade errbit to the last version it works fine. Thx.

[2015-12-02 17:23] xdmx commented on #984
To be honest I haven't had much time to check it out more, I see that it still duplicates some errors.

In the weekend I'll try to reinstall errbit on a clean install and check if it changes something. Hopefully during the next week I'll have a dump to share :wink:

[2015-12-02 17:36] stevecrozz commented on #996
Excellent

[2015-12-02 17:36] #996 closed

[2015-12-02 19:50] stevecrozz commented on #994
Oh no! This means you already have data in your DB that cannot be indexed. Since you didn't have the index to begin with, the error described in #848 never prevented you from inserting the error that cannot be indexed. The path forward is to either delete the problems that have messages that are too long, or to truncate those messages.

I think first we need to fix #1001, and then we can whip up a

[2015-12-03 17:04] yannvery commented on #981
Do you need a PR for this one ?

[2015-12-03 17:17] stevecrozz commented on #981
@yannvery that would be great

[2015-12-07 10:16] xdmx commented on #984
@stevecrozz I've been able to reinstall errbit, using the master branch, on a clean instance and db and I had it running for a couple of days. Unfortunately I still get this problem.

I've [dumped the db](https://github.com/errbit/errbit/files/53729/errbit.zip) (redacting users' info and removing errors that weren't duplicated) in order for you to be able to see the data and config.

As you can se

[2015-12-07 17:16] stevecrozz commented on #984
Thanks @xdmx. This should be a big help in tracking down the problem.

[2015-12-07 17:34] #981 closed

[2015-12-10 19:42] stevecrozz commented on #1001
@svoop Should be resolved now

[2015-12-10 19:42] #1001 closed

[2015-12-10 19:44] stevecrozz commented on #994
@svoop #1001 is fixed. do you want some help fixing up your long messages so you can get the text index installed?

[2015-12-10 21:25] stevecrozz commented on #488
Closing this because I can't foresee this becoming a priority.

[2015-12-10 21:25] #488 closed

[2015-12-10 21:31] stevecrozz commented on #380
We have been splitting the readme file into chunks in the ./doc folder so that's at least partly solved. We also got rid of our javascript notifier, so the second part no longer applies :)

[2015-12-10 21:31] #380 closed

[2015-12-11 09:01] svoop commented on #994
@stevecrozz Cool, yes, I'm not (yet) very fluent with Mongo, so I appreciate your help very much.

[2015-12-14 11:16] arrowcircle commented on #993
Finally! Mongo is strange, https://www.linkedin.com/pulse/mongodb-32-now-powered-postgresql-john-de-goes

[2015-12-14 18:30] j3ck opened #1006 "NoMethodError: undefined method `utc' for nil:NilClass"
Hey, again i have errors from errbit, how this line works?
https://github.com/errbit/errbit/blob/master/app/models/problem.rb#L86

As i see on this step notice is a new object and created_at is nil

[2015-12-14 18:33] stevecrozz commented on #993
That's quite a stinging article. Thanks for sharing @arrowcircle.

It seems clear enough that this community would like to move to postgres and ditch mongo. I'm still not opposed to the idea, but personally, I can't commit the time necessary to make this change.

[2015-12-14 19:00] stevecrozz commented on #1006
Hi Eugene, can you share the whole stacktrace you're seeing?

On Mon, Dec 14, 2015 at 10:30 AM, Eugene <notifications@github.com> wrote:

[2015-12-14 21:32] j3ck commented on #1006
@stevecrozz
[code]

[2015-12-14 23:23] bleda opened #1007 "NoMethodError: undefined method `user_attributes' for #<NoticeDecorator:0x007f2069598f40 @object=nil, @context={}>"
I've searched for a similar reported error but couldn't find one. Sorry guys if this one is duplicate :)

We're using v0.4.0 and we got ```NoMethodError: undefined method `user_attributes' for #<NoticeDecorator:0x007f2069598f40 @object=nil, @context={}>```.

Here is the full backtrace, hope it is helpful for you.
[code]

[2015-12-14 23:29] stevecrozz commented on #1007
Any chance you can upgrade to v0.5.0? Might be worth checking to see if an
upgrade solves the problem before we go digging in.

On Mon, Dec 14, 2015 at 3:23 PM, Emir Bostan <notifications@github.com>
wrote:

[2015-12-14 23:49] stevecrozz commented on #1006
Hi Eugene, I've so far been unable to reproduce this issue. I'm attaching a
debugging session that shows when the notice's created_at field is
populated. Perhaps you can step through and see what's different about your
case. I used this curl example to run my test:
https://gist.github.com/mmcdaris/17a2ed026e6c33772e8a

I'm suspicious that your notice has failed validation and we're not
capturing t

[2015-12-15 15:27] j3ck commented on #1006
I think this problem related with airbrake-js
i use this for include airbrake-js
[code]
For create notify:
[code]
In request params, i have not error.
/app/controllers/api/v3/notices_controller.rb @ line 9
[code]
But when i use this:
[code]
Params goin to controller:
[code]

Mb you know what's wrong ?
Also this actions create in app 'problems' with message from related issue https://github.com/err

[2015-12-15 16:14] bleda commented on #1006
Hello @j3ck and @stevecrozz
We are also getting this error with #1007.

[2015-12-15 16:25] j3ck commented on #1006
@bleda  i update last message

[2015-12-15 22:50] stevecrozz commented on #1006
airbrake-js has apparently decided to move the notifier key from top-level to inside the context hash of requests to create notices: https://github.com/airbrake/airbrake-js/pull/174#issuecomment-164918928

I am not clear on why they've done this because the airbrake API docs still show the notifier key at the top level. If its appropriate, we can support both, but I'd like to figure out what they'

[2015-12-16 10:01] bleda commented on #1007
@stevecrozz:
We've upgraded to v0.5.0 but no luck. I saw your comment on https://github.com/errbit/errbit/issues/1006 and I'm gonna pull the master branch tonight. I'll let you know if anything strange happens.

[2015-12-16 11:15] bleda commented on #1006
@j3ck I downgraded airbrake to 0.5.3 but still no luck.

[2015-12-16 12:40] bleda commented on #1007
@stevecrozz I had to downgrade airbrake js client to 0.5.2 and it seems ok.

[2015-12-16 17:16] stevecrozz commented on #1006
If you use the latest errbit (master), you should at least see a message in the errbit logs to tell you what's wrong with your notification.

[2015-12-16 17:22] j3ck commented on #1006
@stevecrozz  Well, thanks for the help.

[2015-12-16 22:14] stevecrozz commented on #994
@svoop If you can handle losing your notices with long messages you could drop them like this from your mongo console:
[code]

If you want to see how much you'll lose you could count your long notices like this:
[code]

[2015-12-16 22:36] stevecrozz commented on #1007
Thanks @bleda, I added a note to the README.md file. Hopefully it will help others get this working more easily.

[2015-12-16 22:36] #1007 closed

[2015-12-16 22:36] stevecrozz commented on #1006
I added a note to the README.md file. Hopefully it will help others get this working more easily.

[2015-12-16 22:36] #1006 closed

[2015-12-17 19:09] stevecrozz opened #1009 "allow for multiple errors"
The v3 airbrake API allows for multiple errors in a single notice. Errbit should allow notices to contain multiple errors and display them all nicely in the UI.

[2015-12-18 11:04] tvdeyen commented on #994
@stevecrozz nice and how can I truncate them instead of deleting them?

[2015-12-18 11:08] tvdeyen commented on #994
@stevecrozz also I get this error:

[code]

I guess `message` does not exist as column on `problems`?

[2015-12-18 11:10] tvdeyen commented on #994
@stevecrozz updated the second query to:

[code]

[2015-12-19 09:01] svoop commented on #913
@stevecrozz

I'm just using the airbrake gem, can you give me a hint how to set the context.version there? (I was trying to find it in the docs, but I'm not sure whether Errbit is already compatible with the rewritten airbrake gem version 5.)

[2015-12-19 09:31] svoop commented on #994
@stevecrozz

I've removed to oversize messages, both counts return 0 now. then I've repeated the steps from the install/update guide without any errors:

    bundle exec rake db:migrate RAILS_ENV=production
    bundle exec rake db:mongoid:create_indexes RAILS_ENV=production
    bundle exec rake db:mongoid:remove_undefined_indexes RAILS_ENV=production

However, the search still doesn't work:

Tried

[2015-12-19 21:01] stevecrozz commented on #994
@svoop Can you hop on https://gitter.im/errbit/errbit so we can chat in real-time? I'm sure we can figure this out.

[2015-12-21 01:46] YoHarmonica opened #1011 "Layout broken when Apps name is too long"
It seemed that when the App name is too long, it break the layout.
![break](https://cloud.githubusercontent.com/assets/10822260/11921623/b94c90a6-a7cf-11e5-94d9-0897400defbb.png)
with long name, the layout is broken.

![no_break](https://cloud.githubusercontent.com/assets/10822260/11921625/c3131ed4-a7cf-11e5-8b48-093be02f8eec.png)
when the name is renamed to shorter one, the layout looked fine.

I

[2015-12-21 01:47] stevecrozz commented on #1011
Yeah, I've noticed this but never bothered to get it fixed. Now its on the hit list for 0.6.0. Thanks for the report.

[2015-12-21 01:48] YoHarmonica commented on #1011
@stevecrozz

Thanks for the quick response!

[2015-12-21 12:02] tmaier opened #1012 "airbrake gem v5 has been released. Complete rewrite"
[airbrake v5](https://rubygems.org/gems/airbrake) is complete rewrite of the gem.

* The namings of all keys has been changed
* Airbrake expects now a `project_id` and a `project_key` (the former `api_key`)

[code]

Migration guide: https://github.com/airbrake/airbrake/blob/master/docs/Migration_guide_from_v4_to_v5.md

* errbit should be adapted and tested for that new version
* the [configuration

[2015-12-21 17:27] stevecrozz commented on #1012
It looks like the new notifier still uses the v3 API which is already supported by Errbit since it's also used by airbrake-js. But there's bound to be something we haven't accounted for so we should look into this a bit.

[2015-12-21 21:49] md5 commented on #973
I just came across this change in `v0.5.0` after I upgraded today from an intermediate SHA between `v0.4.0` and `v0.5.0`. I'm seeing the apps sorted by their `id`, not by unresolved error count.

What is the expected sorting behavior now?

[2015-12-21 21:56] md5 commented on #973
I see the code for this here: https://github.com/errbit/errbit/blob/14c71aa4aa61080eda91e3dd0fbabb87332d0a68/app/models/app.rb#L172-L177

Perhaps I'm wrong about how it's sorting and it's actually sorting by `problem_count` (since our apps currently have no unresolved errors)...

[2015-12-21 22:00] stevecrozz commented on #973
Yep. I was just hunting for that but you found it first. That is how it is supposed to sort at the moment.

[2015-12-21 22:03] md5 commented on #973
I see the problem. `App.all.sort` is not using `<=>` since `#sort` is defined by Mongoid.

[2015-12-21 22:03] md5 commented on #973
To use `<=>`, it would have to do a `to_a` first, i.e. `App.all.to_a.sort`.

[2015-12-21 22:33] stevecrozz commented on #994
I believe @svoop was hitting the same mongoid bug as described earlier and a new version of mongoid has not yet been published that includes the fix. So I'm changing the docs to reverse the instructions for creating/removing indexes which should result in the correct state even when mongoid is misbehaving. This change should prevent #994 from returning.

[2015-12-21 22:33] #994 closed

[2015-12-21 23:41] xdmx commented on #984
I've upgraded to master and it seems that now it's fixed. I've just run into a small bug after the deploy

[code]

The fingerprint wasn't generated on apps (even after editing the config and apps), I had to run
[code]

Then I did the refingerprint and everything worked

I'll give it few more days, if anything comes up I'll let you know, otherwise you can consider this fixed :wink:

[2015-12-21 23:52] stevecrozz commented on #984
Great. I just noticed the same issue. I'm trying to decide if I should handle it with a migration (which people may forget to run), or a method to do this whenever an app references its fingerprinter and doesn't have one. I'm thinking that's the better way.

[2015-12-22 01:55] stevecrozz commented on #984
I ended up with a commit to create and save a new fingerprinter when accessing a nil one on the app:
https://github.com/errbit/errbit/commit/a8af7b22ca29ff534a2f7a01d33c10135d14b4a1

Hopefully this prevents anyone from running into a blank fingerprinter.

[2015-12-22 01:55] #984 closed

[2015-12-22 13:32] estolfo commented on #994
Hi, mongoid 5.0.2 is released and contains the fix for this.

[2015-12-22 17:30] md5 commented on #973
@stevecrozz Do you want me to open a new issue for this or provide a PR that changes to `App.all.to_a.sort`?

[2015-12-22 17:33] stevecrozz commented on #973
PR is great because I can click and be done, but either way works. Thanks very much for spotting the issue.

[2015-12-22 18:22] md5 commented on #973
Opened https://github.com/errbit/errbit/pull/1016

[2015-12-22 19:18] md5 commented on #959
I actually tried renaming my local `.env` to `.env.development` today and I was still seeing failures with `rake spec`. I had to run it as `RAILS_ENV=test rake spec` (after renaming the file) to avoid this issue. I'm not sure why that's the case, since the `spec/spec_helper.rb` sets `ENV['RAILS_ENV'] = 'test'` before `config/environment.rb` is loaded.

[2015-12-22 23:25] stevecrozz commented on #959
@md5 What do you think about switching to the full-on dotenv-rails approach which is defined here: https://github.com/bkeepers/dotenv/blob/v2.0.2/lib/dotenv/rails.rb#L27-L31

Under this scenario I propose we check in a .env file which has sensible defaults, a .env.development file which has sensible default overrides for development and the same goes for a .env.test file. Finally we .gitignore the

[2015-12-23 00:22] md5 commented on #959
A local `.env.local` file will have the same effect on running the specs as a local `.env` file. If I'm a developer who has used `.env.local` to customize how my server runs under `rails s`, then there's a high potential to break the specs, since `.env.local` overrides all other environment sources except `ENV`.

[2015-12-23 00:25] stevecrozz commented on #959
This is true. Maybe we should get into some specifics so I can understand what you're doing. What is different between your test and development environments that you're overriding?

[2015-12-23 00:30] stevecrozz commented on #918
fixed in master

[2015-12-23 00:30] #918 closed

[2015-12-23 00:34] md5 commented on #959
At the time I ran into this failure, I was implementing the GitHub Enterprise login support in #958 and had the `GITHUB_*` variables configured for that purpose. This broke the tests. I have since removed my local `.env` to avoid this issue since I don't need to test GitHub Enterprise changes any more, but this seems like it's an easy thing to have problems with.

I think the settings in `.env.def

[2015-12-23 01:54] stevecrozz commented on #959
@md5 I can't even find how .env.development would load at all. Do you happen to have a branch where this was happening?

[2015-12-23 02:00] stevecrozz commented on #959
I just found it, right after that comment. I typically run the specs with the rspec binary (bundle exec rspec), but you're running them with rake spec and it looks like Dotenv has some magic to auto-load during rake tasks. And that's potentially another source of trouble (loading the environment in two different ways). That's probably a good reason to unify the approach and use the dotenv-rails de

[2015-12-23 03:19] stevecrozz commented on #959
Here's what I've got to make sure the rake environment can't differ from the other environments:
https://github.com/errbit/errbit/compare/master...stevecrozz:959_standard_dotenv_loading

This should allow developers to put stuff in .env, .env.local, .env.development and .env.test however it makes sense and still have the defaults.

[2015-12-23 03:30] md5 commented on #959
I just checked out your branch and did `rake db:drop` and `RAILS_ENV=test rake db:drop`. My `.env.development` looks like this:

[code]

I'm still seeing the following failures:

[code]

[2015-12-23 03:32] md5 commented on #959
Just to be clear, all the tests pass with `RAILS_ENV=test rake spec`. I don't yet understand why this is happening either. I would have thought the setting of `ENV['RAILS_ENV']` on the first line of `spec_helper.rb` would make things work correct since `config/load.rb` gets loaded transitively a few lines lower when `config/environment` is loaded.

[2015-12-23 03:49] stevecrozz commented on #959
This is because Dotenv automatically loads itself without being asked simply because you invoked it via rake. By the time we set RAILS_ENV=test in spec_helper.rb, its too late and we've already loaded inputs through Dotenv's internal magic. And now if you run specs the way I normally do, the behavior will be the same.

I'm not sure what to do about this actually other than instruct users to prepen

[2015-12-23 04:39] stevecrozz commented on #959
Here's another idea. I've removed the 'spec' rake task which would force the rspec entry point (rspec instead of rake spec).

[2015-12-23 07:51] pacolotero opened #1017 "SystemStackError: stack level too deep"
Upgrading Errbit i get this error when rake db:migrate
[code]

Here all trace:
[code]

/home/errbit/.rvm/gems/ruby-2.1.6/gems/rake-10.4.2/lib/rake/task.rb
[code]

$ rake db:version
**2015052720262**

RUBY
[code]

[2015-12-23 16:14] md5 commented on #959
I don't think removing the default `spec` task is a good idea. My experience with all the Rails apps I've worked with is that running `rake` by itself should run the tests/specs.

Since the `rake spec` task shells out to `rspec`, I'm don't really understand why this doesn't work. It looks like `rake spec:prepare` even explicitly sets `RAILS_ENV=test` here: https://github.com/rspec/rspec-rails/blob

[2015-12-23 16:31] md5 commented on #959
I figured out the issue.

When `rake` is run, the `Rakefile` loads `config/application.rb`, which initializes `Dotenv` under the current environment (i.e. `development`). The `rake spec` task then shells out to `rspec`, which runs under `RAILS_ENV=test`, but the environment has already been populated with the values from `.env.development`.

[2015-12-23 16:33] md5 commented on #959
Now that I understand what to look for, I found the issue reported in the `bkeepers/dotenv` repo: https://github.com/bkeepers/dotenv/issues/219

[2015-12-23 16:36] md5 commented on #959
See these also https://github.com/bkeepers/dotenv/issues/45 and https://github.com/bkeepers/dotenv/pull/159

[2015-12-23 19:11] dchersey opened #1018 "emails not sending using SMTP"
Hi, I have everything (I think) configured as per the docs, but I am not seeing emails for error reports.
Nothing is appearing in the logs that would indicate any error -- it's almost like it is not trying.

Here's my relevant .env settings:

[code]

Can you recommend any troubleshooting steps?

[2015-12-23 19:30] stevecrozz commented on #982
@funglaub Are you still seeing this issue? I went to track it down today, but I'm no longer seeing it.

[2015-12-24 16:43] dchersey commented on #1018
Solved it -- looks like I was missing SMTP_SERVER and SMTP_PORT (duh!).

Also I wasn't watching the App in Errbit, so I wasn't seeing anything in the log about email at all.

[2015-12-24 16:44] #1018 closed

[2015-12-28 19:34] stevecrozz commented on #1017
Can you attempt to get a stack trace from this rake task by adding --trace to the failing command?

[2015-12-28 20:21] stevecrozz commented on #982
I'm closing this because I cannot reproduce it. I think its been fixed since this issue first came up.

[2015-12-28 20:21] #982 closed

[2015-12-29 00:13] svoop commented on #913
@stevecrozz

A dead-simple solution to track deployments now that this feature is gone:

    Airbrake.configure do |config|
      (...)
      config.environment_name = "#{Rails.env}@#{Rugged::Repository.new(Rails.root.to_s).last_commit.oid[0,4]}"
    end

No new smarts are required at all, Errbit shows the environment e.g. as "staging@0f3d". And clicking on it, the linked search returns only probl

[2016-01-02 21:40] stevecrozz commented on #1012
The changes seemed pretty simple. I tested this approach and it worked for me. Let me know if you have any issues with it.

[2016-01-02 21:40] #1012 closed

[2016-01-03 23:01] stevecrozz commented on #1011
@YoHarmonica Can you give this a try and report back on how it works for you?
https://github.com/errbit/errbit/pull/1022

[2016-01-04 19:36] darthrevan commented on #1017
I've encountered the same issue.
Turned out that this error was caused by
[code]
in the migration. Furthermore,
[code]
or any other references to this model resulted in "stack level too deep" error.

I was able to solve it by setting store_in 'apps2' and running rails console - got an empty collection that worked just fine.
Then I removed this line and run rails console again. Then I checked all o

[2016-01-05 00:54] stevecrozz commented on #1017
@darthrevan You didn't save a full stack trace by any chance, did you?

[2016-01-05 08:59] dennmart commented on #1017
Not sure if this is the same issue, but I'm also getting "stack level too deep" error after upgrading. I'm hosting my instance of Errbit on Heroku. It was running v0.4.0 fine, and when I upgraded to v0.5.0, that's when I began getting the error after logging in. Here's a stacktrace of what I'm running into - hopefully it helps: https://gist.github.com/dennmart/45d11e1661991ebe0991

[2016-01-05 15:28] darthrevan commented on #1017
@stevecrozz yeah sure.
[code]

Running the migration itself yield exactly the same stack trace as @dennmart - I encountered the issue with the model itself while running the migration code line by line manually.

I was upgrading Errbit from 0.3 to 0.5 if it helps.

[2016-01-05 16:58] stevecrozz commented on #1017
Thanks everyone. I was able to reproduce this issue and I added a fix to master. This should be solved.

[2016-01-05 16:58] #1017 closed

[2016-01-05 17:46] stevecrozz commented on #959
It's inconvenient that Rails wants me to have a Rakefile that loads my whole Rails application for all Rake tasks before I get a chance to initialize the environment. Because what we're saying is the environment configuration depends on the entry point. If you invoke rake spec, you want that to initialize a different environment than if you invoke rake db:migrate.

That's fair, but there aren't a

[2016-01-05 17:55] stevecrozz commented on #1011
I believe this is solved.

[2016-01-05 17:55] #1011 closed

[2016-01-05 17:55] stevecrozz commented on #935
Closing for lack of activity

[2016-01-05 17:55] #935 closed

[2016-01-05 18:01] stevecrozz commented on #993
I'm closing this because it's not something I plan to put on the backlog until we have a more full discussion about it. The licensing argument could be a good one, but I would like to here from someone (preferably multiple people) who is definitely affected by it. If that's you, let's take it to the mailing list and/or gitter and think it through together.

[2016-01-05 18:01] #993 closed

[2016-01-05 18:05] stevecrozz commented on #862
@sifrah Airbrake recently release a v5 version of their gem which uses the JSON API. I updated the instructions also and tested them to make sure they work: https://github.com/errbit/errbit/commit/ff341e5e5bb20512b7c423ce010d613dcc31fbac

Are you able to give it another shot with airbrake v5?

[2016-01-05 21:14] StickyBros opened #1024 "Notice for old app version ignored"
Hi there,

I'm trying to get airbrake-js v0.5.8 to work with errbit 0.5.0 (I also tried building the head of the master branch with the same results)

My code looks like:

[code]

My app is running on localhost, so the request is going cross-domain.  I'm guessing because the response body isn't JSON it causes another error which triggers airbrake to send another request which causes an infinite lo

[2016-01-05 21:33] stevecrozz commented on #1024
It looks like we have some code that's intending to reject error notifications for old versions. Can you check to see what you have set for LATEST APP VERSION for this Errbit app? If I understand the intent correctly, you'll need to pass a newer app version in the notification than the one you have set in your Errbit app.

[2016-01-05 21:57] StickyBros commented on #1024
Ah, good catch.

The version on the server was set to 1.0.0.  (How do you change this, btw?)

By adding the following code it works now:

[code]

Thanks!

[2016-01-05 21:57] #1024 closed

[2016-01-05 22:12] stevecrozz commented on #1024
You can change that field by editing the app in the Errrbit UI. Can you contribute any more information about this infinite loop you observed? I'd like to get that fixed if there is one.

[2016-01-05 22:48] StickyBros commented on #1024
Sure.  The console produced tons of these:

[code]

From looking in xhr.js, line 16 is:
[code]

So yeah, it blindly parses the response which in this case isn't JSON.  That throws an error and hence the infinite loop.

[2016-01-05 23:20] stevecrozz commented on #1024
This is confusing to me because it should only be doing this when the response code is 201 according to to the source code I'm reading: https://github.com/airbrake/airbrake-js/blob/v0.5.8/src/reporters/xhr.coffee#L13 and the response code from Errbit is 200. Although now I'm seeing https://github.com/airbrake/airbrake-js/blob/v0.5.8/src/reporters/compat.coffee which does parse on a 200 response an

[2016-01-06 03:41] stevecrozz commented on #1024
On closer inspection, it looks like compat is the one that is in use by airbrake-js. There's no documentation on using the xhr reporter or any indication that anyone uses it, so this makes sense to me now. I'll add a commit to return a status code in the 4xx range when encountering this error so we avoid the infinite error loop.

[2016-01-06 18:04] stevecrozz commented on #959
I had another idea just now and this seems very easy. I'm planning to write a documentation section on Errbit development / specs. Maybe the right thing to do is nothing, and instead expect test authors to prepare configuration stubs in their tests that require special values. This is easily done in RSpec with:
[code]

[2016-01-06 18:06] md5 commented on #959
Barring a fix in `dotenv`, I think replacing `rake spec` with an informative warning and having `rake` still have `spec` as the default task is fine.

[2016-01-06 18:07] md5 commented on #959
The only alternative I can think of is to have a pre-requisite task for `spec` that clears `ENV`. That assumes that developers should not be setting external `ENV` variables to affect tests, which is probably reasonable since they can use `.env.test`.

[2016-01-06 18:07] md5 commented on #959
(or `.env.local`)

[2016-01-06 18:09] md5 commented on #959
I also think the configuration stub is a good idea, though I'm not sure how much of a developer burden it will add.

[2016-01-06 18:09] md5 commented on #959
Perhaps stubbing it by default to only return the values from `.env.default` would mitigate that.

[2016-01-06 22:41] svoop commented on #1012
@stevecrozz

I'm a little puzzled when it comes to the reporting of the current user. The https://airbrake.io/docs (create notice v3) seem to be inconsistent. The "JSON example" looks as follows:

    "context": {
      "userId": "12345",
      "userName": "root",
      "userEmail": "root@root.com"
    }

But the "POST data fields v3" description states:

    context/user/id 	false 	If applicable,

[2016-01-06 22:48] stevecrozz commented on #1012
Yeah. It seems like they change the API, and from what I gather they don't give it a new version as long as airbrake (the platform) remains backwards compatible. We should probably support both formats for user info. I'll make a ticket for that.

[2016-01-06 22:52] stevecrozz opened #1026 "multiple format compatibility for user information"
As @svoop points out in #1012, airbrake is makeing changes to their API clients around user information. Because airbrake changes their API fairly regularly, we need to update Errbit to accept new notice formats as they appear while still supporting the old notice format. We need to support user information that looks like this:
[code]
and like this:
[code]

[2016-01-06 23:00] svoop commented on #1026
I could help with that, however, most likely not before next week since I'm still on the road.

[2016-01-06 23:27] stevecrozz commented on #1026
Awesome. I'll take all the help I can get.

[2016-01-07 18:38] md5 commented on #959
Clearing the `ENV` seems to work great. See https://github.com/appropriate/errbit/commit/9dec3e2be57261a8a13827baa3c3ff5b39f8178e

[2016-01-08 02:47] ronwsmith commented on #1012
Didn't think this question was worthy of a new 'issue', so I'm hoping it can sneak in to this relevant one:

For `project_id`, I assume we can just put in anything?

[2016-01-08 02:58] stevecrozz commented on #1012
@ronwsmith That does seem to be the case. It just can't be false or nil.

[2016-01-09 05:52] stevecrozz commented on #1026
Looks good to me.

I added a PR to your PR which I think is a simplification of the old user data handling:
https://github.com/svoop/errbit/pull/1

Your logic did work and it was awesomely compact, but I was having trouble reading it. I hope you don't mind. Let me know if you spot anything wrong. If it all looks good, then this is ready to go.

[2016-01-09 08:14] stevecrozz commented on #959
Its a neat idea, but it would keep us from using regular environment variables as only the values in the dotenv files would have an effect.

But I think I may have a winner: https://github.com/errbit/errbit/pull/1028

I think this does exactly what we want. We can keep a list here of 'special' rake tasks that should always be run in the test environment. As long as we set the environment name to t

[2016-01-09 20:38] stevecrozz commented on #959
I think this is resolved. Thanks for all the help in figuring out how to handle this.

[2016-01-09 20:38] #959 closed

[2016-01-09 23:05] svoop commented on #1026
@stevecrozz You're right, the old format was parsed in a very clever yet not very readable manner, I've only added the mnemonic-style block to it. However, it had one advantage: Special cases such as `context['userCity']` were parsed as well, but I doubt such cases exist. And even if, upping to the v5 gem brings this feature back. I've merged your PR, thanks for merging mine :smile:

[2016-01-12 00:21] stevecrozz commented on #1026
Great! One more issue squashed!

[2016-01-12 00:21] #1026 closed

[2016-01-12 13:06] tvdeyen commented on #994
Just for later reference:

I managed to truncate the long messages in the rails console. Then run all rake tasks again and it worked. After updating to mongoid 0.5.2 the search works again! Finally :)

So, please merge #1030 soon, it works!

Thanks for all the help

[2016-01-12 13:10] estolfo commented on #994
awesome!
Just as a note - it was Mongoid 5.0.2 =)

[2016-01-12 13:12] tvdeyen commented on #994
Sorry, updated the comment

[2016-01-12 13:13] estolfo commented on #994
no problem!

[2016-01-12 15:39] stevecrozz commented on #994
Solved by #1030. Thanks everyone.

[2016-01-15 14:31] kimrgrey opened #1031 "Has version 0.6.0 been done and released?"
All issues in milestone for this version has been closed, but I can't find appropriate tag in repository. This question is very important for me, because I want to upgrade airbrake gem in my application to latest version and some known bugs with it were fixed in 0.6.0.

[2016-01-15 17:45] stevecrozz commented on #1031
Ready to go. I just needed to create and push the v0.6.0 tag (https://github.com/errbit/errbit/tree/v0.6.0).

[2016-01-15 17:45] #1031 closed

[2016-01-15 17:47] kimrgrey commented on #1031
Cool! And thank you very much for such great software, by the way :+1:

[2016-01-15 17:55] stevecrozz commented on #1031
No prob! I love doing this and it's fun for me to hear from others who use Errbit.

[2016-01-15 17:58] stevecrozz commented on #999
Fixed in master

[2016-01-15 17:58] #999 closed

[2016-01-15 21:56] tomkr commented on #746
I noticed there's some more recent discussion on this in #903. Is this still something you are interested in and if so what are the current plans? I'd be happy to help out if there's anything I can do.

[2016-01-15 22:23] stevecrozz commented on #746
Definitely still interested. @rjhancock has been working on a third attempt, but I'm not sure what the status of that effort is. I know he hangs out on https://gitter.im/errbit/errbit sometimes, we may be able to get an update there.

From my perspective, prior efforts have been a bit too ambitious. Let's see where @rjhancock is and see if he'd like some help or if we can scope the task down to sm

[2016-01-15 22:27] rjhancock commented on #746
Right now it looks like needing to tweak a few more screens and finishing updating the JS for bootstrap. Will try to get more done this weekend on it and take screenshots to post.

[2016-01-17 14:00] nielspetersen commented on #975
We've included this issue in the current issue (13th) of the RubyIssues: https://rubyissues.ongoodbits.com/. :gem:

[2016-01-20 16:32] zedalaye opened #1034 "My Errbit instance is filling with "NoMethodError" undefined method `call' for nil:NilClass errors"
These errors have no origin, no backtrace, no environment, no parameter and no session and they occur every ~20 minutes.

I don't know if they are due to the Airbrake 5+ gem or to errbit

My version of errbit is 8c1057943f79132aec23f0fff7d6d7d6aebfede7

[2016-01-20 16:45] zedalaye commented on #1034
I found that in my production.log :

[2016-01-20 17:16] stevecrozz commented on #1034
These appear to be errors from another application that are being sent to errbit. It could be a problem with the airbrake gem, or it could be a problem with your application. I would guess that more information should be available in your application logs, but I'm not sure. Have you already checked there?

[2016-01-26 10:36] zedalaye commented on #1034
Sure. I checked all production.log files (the Errbit one and the other applications ones) with no luck.

[2016-01-27 12:15] theysconator opened #1037 "Heroku install doesn't send errors to sendgrit"
I've done an installation on Heroku, using the one install button. Errors do show up in errbit itself. However, I do not receive any emails, and in sendgrit I can't see any activity. Does anybody else have this problem as well?

[2016-01-28 11:18] theysconator commented on #1037
This was a mistake on my end! I just couldn't find the 'edit' page. :S Silly me.

[2016-01-28 11:18] #1037 closed

[2016-01-29 11:14] rickclare commented on #1034
Are you using Passenger as your app-server? There is an upcoming fix (Passenger v5.0.24) which should result this:  https://github.com/phusion/passenger/issues/1730

[2016-01-30 08:54] maxigs opened #1038 "Errbit ist not sending out Error-Notification-Mails"
I have a working Errbit installation running but can't get it to send out error-notifications.

Other emails, like passwort reminders work fine, so i assume the mail setup in general is fine.

Incoming errors are tracked as they should be, so here everything seems to be fine too.

I have set all the checkboxes for errors to send out notifications, but still don't get any:

<img width="323" alt="sc

[2016-01-30 10:21] zedalaye commented on #1034
Yes. I use Passenger. I'll wait for the fix to be available in production. Many thanks.

[2016-02-01 16:44] stevecrozz commented on #1038
My only thought right now is the configuration of ERRBIT_NOTIFY_AT_NOTICES. Is it set to '[0]' as described in https://github.com/errbit/errbit/blob/master/docs/configuration.md ?

[2016-02-01 16:47] taelor commented on #978
Sorry @stevecrozz, I got side tracked by a bunch of end-of-the-year projects and we threw it on the back burner.

My co-worker @penguincoder is going to take a look at this, and either upgrade our errbit deploy to use the fix in the referenced issue, or re-deploy it with unicorn.

We'll update our progress soon and will probably be able to close this ticket. Thanks.

[2016-02-01 19:04] penguincoder commented on #978
I updated errbit to 79a0f0a and so far it seems to be working a lot better. I will report back in a day or so with my results. I need to generate a bit of traffic to errbit, because if the issue was being run in a threaded environment when it was not threadsafe, there needs to be some traffic to validate the results.

Thanks for everyone's help in the matter.

[2016-02-02 14:50] DenisBY opened #1040 "Unable to disable notification service"
I've configured HipChat as notification service but now I want disable it. I'm setting Notification service as None, clicking 'Update App' but then I click Edit on application it shows that HipChat is still set as notification service. I'm using v0.6.0.

[2016-02-02 16:56] maxigs commented on #1038
Thank you Steve, this was really it.

I set `ERRBIT_NOTIFY_AT_NOTICES` to the same value as `ERRBIT_EMAIL_AT_NOTICES`.
Both are `[1,10,100]` now and it works fine.

[2016-02-02 16:56] #1038 closed

[2016-02-02 17:29] stevecrozz commented on #1040
Sounds like a bug. Thanks for the report.

[2016-02-02 17:30] stevecrozz commented on #1038
Excellent!

[2016-02-04 00:10] kimrgrey opened #1042 "Aribrake expects 201 Created from notices API"
As described in documentation here: https://airbrake.io/docs/#create-notice-v3, - Airbrake expects 201 Created response when error was successfully registered.

![screen shot 2016-02-04 at 03 03 12](https://cloud.githubusercontent.com/assets/855918/12801220/e77a0762-caeb-11e5-91eb-8d7a033850cc.png)

But Errbit returns 200 OK here: https://git.io/vgOsU. And it makes latest airbrake gem a little bit

[2016-02-04 00:24] stevecrozz commented on #1042
Thanks. This should be fixed with: https://github.com/errbit/errbit/pull/1041

[2016-02-04 00:24] #1042 closed

[2016-02-04 00:27] kimrgrey commented on #1042
@stevecrozz, cool, thank you for a fast response. Are you going to release a minor version with this fix? It would be awesome, because it's not very comfortable to have such error in production ^_^

[2016-02-04 00:29] stevecrozz commented on #1042
I wasn't planning on it, but I will if you need a version number in order to deploy this fix. Can you refer to the current Sha1 with the fix instead for your deployment? https://github.com/errbit/errbit/commit/a0929bc86efafc3536b97c818b540d8173842326

[2016-02-04 00:34] kimrgrey commented on #1042
Oh, sad news... :disappointed:  But why not? This is a bug, it was fixed... You can just release a v0.6.1. Isn't?

Well, sure, I can use a maser version or a commit hash, but it always better to have a released version instead if something was fixed just to let people know, that something was broken.

But it's up to you, of course. May be I'm wrong... Thank you again!

[2016-02-04 00:47] stevecrozz commented on #1042
Sure, I can do it. Let's see if anything shakes out from https://github.com/errbit/errbit/pull/1041 first. Apparently there's at least one official airbrake client that was expecting a 200 OK response.

[2016-02-05 00:30] stevecrozz opened #1044 "make errbit compatible with the latest airbrake-js xhr reporter"
Currently, Errbit doesn't respond to the preflight OPTIONS request which is part of the CORS request sent by airbrake-js. We need to allow for this in errbit and update the documentation.

[2016-02-05 00:39] stevecrozz commented on #1042
I released v0.6.1 just for you @kimrgrey :) It includes the correct response status code for the v3 notices API.

[2016-02-05 00:41] kimrgrey commented on #1042
You are so kind :smile: Thanks! I'll try to do my best to return this debt :smile:

[2016-02-20 02:01] mfrederickson opened #1047 "issue tracker icon keys are reversed"
![image](https://cloud.githubusercontent.com/assets/473165/13193742/5ebe0d92-d72a-11e5-8f99-551e533d925a.png)

[2016-02-20 02:06] mfrederickson opened #1048 "users list not sorted/sortable"
Shouldn't it be sorted by name, or custom sortable like the problems are?

[2016-02-20 02:11] mfrederickson opened #1049 "many tests fail when ERRBIT_USER_HAS_USERNAME=true"
I had this set in my dev environment and ran `rake spec` and had a couple hundred failures... almost gave me a heart attack ;-) Then I changed it back to false and reran the tests and only had a couple failures (of my own making).  Is this something that should be avoided, or fixed?

[2016-02-20 02:17] mfrederickson opened #1050 "notification service fields hidden/empty on app validation failure"
When entering/editing an application and you specify notification service information, if there is a validation failure, those notification service fields are hidden and you have to click off and back on the service to get the fields to show up again, and when you do they have lost their content.

![image](https://cloud.githubusercontent.com/assets/473165/13193843/84dde22a-d72c-11e5-8c10-1be1ab463

[2016-02-20 02:26] mfrederickson opened #1051 "minor problem with problem table view"
It seems to possibly be short a colspan or something...
![image](https://cloud.githubusercontent.com/assets/473165/13193900/bf88450e-d72d-11e5-9199-d78bc3b5df6f.png)
... not to mention that fact that the table is extending beyond it's "container".

[2016-02-20 02:31] mfrederickson opened #1052 "sorting lost when show un/resolved button clicked"
I would expect the sorting to remain in place while on that page... but if you sort by a column such as the 'What and Where' and then choose to see resolved errors, the sorting is lost.
![image](https://cloud.githubusercontent.com/assets/473165/13193947/916f3d84-d72e-11e5-9e14-f9a5d303c898.png)

[2016-02-20 02:39] mfrederickson opened #1053 "app save failure notice carrying over to next page"
When the application update fails, we get a message stating so, as shown here
![image](https://cloud.githubusercontent.com/assets/473165/13193985/7aab7bd4-d72f-11e5-93fd-bed804edfccd.png)
and then, when I click on another page, like the users, the error message carries over...
![image](https://cloud.githubusercontent.com/assets/473165/13193993/9cf5661e-d72f-11e5-8e68-e55e643656fc.png)
probably nee

[2016-02-20 02:41] mfrederickson opened #1054 "text search/sort problem"
When I search for problems and the list comes back empty, and then I click on a column header to sort, it blows up...  (doesn't make sense to do this, but still something that should be fixed)...
![image](https://cloud.githubusercontent.com/assets/473165/13194010/0f1f142e-d730-11e5-9e87-b5d729e87f78.png)

[2016-02-20 18:16] stevecrozz commented on #1049
Yeah. I think we should do something with this. I did recently add this commit:
https://github.com/errbit/errbit/commit/d2045f744491c273ef66ba057370d03ad4d76ed7

There's probably lots of inputs that need to be set a certain way to run reliably. This was my first idea for setting them:
https://github.com/errbit/errbit/blob/v0.6.0/spec/spec_helper.rb#L1

But we could also go full-on dotenv and have

[2016-02-20 18:24] #1040 closed

[2016-02-20 20:16] mfrederickson opened #1057 "user validation messages duplicated"
![image](https://cloud.githubusercontent.com/assets/473165/13198959/6540abcc-d7c3-11e5-94c6-5b7aa8df7a89.png)

[2016-02-20 22:54] mfrederickson commented on #1051
@stevecrozz this is solved in my bootstrap-ui branch, if you're interested in that.

[2016-02-20 22:54] mfrederickson commented on #1057
@stevecrozz this one is also solved in my bootstrap-ui branch, if you're interested in that.

[2016-02-20 23:02] mfrederickson commented on #1050
This was corrected with #1055

[2016-02-20 23:02] #1050 closed

[2016-02-21 02:42] stevecrozz commented on #1057
I am interested :)

What's the status of your bootstrap-ui branch? Is it something you're aiming to bring upstream? It looks like you've been putting in some solid effort over there and you obviously have an eye for detail. I'm excited to see it whenever you think its ready for a look.

[2016-02-21 03:22] mfrederickson commented on #1057
It's ready.  I was going to create a PR but then I saw the issues of other people's efforts on it and didn't want to step on any toes.  Plus I liked their perspectives on it.  Mines just a "plain Jane" take.  It's ready though, so take a look if you'd like and let me know.

[2016-02-22 17:27] wmakley commented on #583
Same here. What is the solution?

[2016-02-22 17:28] #1053 closed

[2016-02-22 17:42] stevecrozz commented on #583
Double check your SMTP delivery settings. See the SMTP_* section in https://github.com/errbit/errbit/blob/master/docs/configuration.md

[2016-02-22 19:00] wmakley commented on #583
Thanks, I missed those settings because they were not in .env.default.

How do they get turned into config.actionmailer.* calls though? I need to
see what actionmailer settings are actually happening to make sure it is
going to localhost without SSL.

On Mon, Feb 22, 2016 at 12:42 PM, Stephen Crosby <notifications@github.com>
wrote:

--
William Makley
Lead Developer | Tortus
413.788.5080 x2 | wmak

[2016-02-22 20:46] stevecrozz commented on #583
The actionmailer configuration happens here: https://github.com/errbit/errbit/blob/v0.6.1/config/initializers/action_mailer.rb

[2016-02-23 15:54] #1049 closed

[2016-02-23 20:53] mfrederickson commented on #650
@stevecrozz are you envisioning two new methods (`resolve_notification`and `unresolve_notification`) on each notification service, called from the problems_controller from the respective actions?

[2016-02-23 21:14] mfrederickson commented on #987
@stevecrozz what is the status on this?  is this in the 7.0 milestone too?

[2016-02-23 21:59] stevecrozz commented on #650
I have doubts about whether or not this is important or even useful, although I may use Errbit differently from the way others use it. Personally, I never 'resolve' issues in Errbit and I'm not clear on what the value is in doing that. Maybe its worth a bit of discussion though. @mfrederickson do you think this feature would have some value?

On the other side of the equation, I do see value in ke

[2016-02-23 22:23] mfrederickson commented on #650
I would not use this feature either.  Small, focused sounds good to me.  Just trying to work off some open issues for you.

[2016-02-24 00:23] stevecrozz commented on #987
@mfrederickson I think it could be depending on when it is finished. @md5's branch looks pretty good. I might want to changed the text 'watched_by' to 'watcher' to give it a simpler appearance. Other than that, we need a spec or two and it should be mergable. Thanks for the reminder.

[2016-02-24 00:26] stevecrozz commented on #650
Let's get rid of this, then. We did get a few users asking for it, but I'd like to hear more from them about why this would be useful before we add to the issue resolution components.

[2016-02-24 00:26] #650 closed

[2016-02-24 18:51] #1048 closed

[2016-02-25 18:35] md5 commented on #987
@stevecrozz Are you talking about the URL parameter name or something else?

[2016-02-25 19:18] stevecrozz commented on #987
Yeah. I'm thinking someday this will be part of a larger advanced search DSL that people can type into the search bar and I think watcher may be slightly easier to remember/type than watched_by.

[2016-03-01 08:43] ngw opened #1069 "Unable to clean all issues."
I'm dealing with an errbit installation that went south.
The problem is that the database is becoming too big as developers don't resolve the issues, and basically use errbit just to inspect errors they see in production.
I would like now to cleanup the db starting with the errbit:db:clear_resolved I see in my rake tasks. Unfortunately the task starts and never comes back, with some weird error me

[2016-03-01 17:49] penguincoder commented on #978
Our timeout issue appears to be resolved, thanks for everyone's input.

[2016-03-01 18:39] #978 closed

[2016-03-02 01:11] mfrederickson commented on #769
I don't see how the errbit_plugin can be used for this without refactoring it some, placing the tracker code into an intermediate layer.  Is that what you envisioned?

![image](https://cloud.githubusercontent.com/assets/473165/13447459/206d40ac-dfc8-11e5-8867-fefed7867e0e.png)

[2016-03-02 01:22] stevecrozz commented on #769
ErrbitPlugin is a module and I had imagined it as a container for some base classes that can be extended by plugins. Currently we have ErrbitPlugin::IssueTracker (https://github.com/errbit/errbit_plugin/blob/master/lib/errbit_plugin/issue_tracker.rb). It seems natural to have an ErrbitPlugin::Notifier or something along those lines. But the two base classes themselves wouldn't necessarily need to

[2016-03-02 01:39] mfrederickson commented on #769
I was looking at the Registry and how it might need to change.  Makes sense.

[2016-03-07 14:36] federicolucca opened #1072 "Apache + errbit"
Hi everyone,

I need to deploy errbit on a Ubuntu Ec2 instance,I followed the installation steps,but when i try to load the login page. the Js and Css resources are 404.

Some ideas?

Federico

[2016-03-07 15:05] federicolucca commented on #1072
ActionController::RoutingError (No route matches [GET] "/stylesheets/application.css"):
App 7401 stdout:   actionpack (4.2.5.2) lib/action_dispatch/middleware/debug_exceptions.rb:21:in `call'
App 7401 stdout:   actionpack (4.2.5.2) lib/action_dispatch/middleware/show_exceptions.rb:30:in `call'

[2016-03-10 21:21] #1047 closed

[2016-03-10 21:25] stevecrozz commented on #1072
Not sure what's going on there. Can you try without apache? It should work fine with only puma.

[2016-03-18 03:56] stevecrozz commented on #371
I don't agree with the original issue description, and in fact I'm starting to think the whole concept of 'resolving' an issue is unnecessary inside errbit. We do now offer a button to close a linked issue from errbit to complement the create action, but I don't see the need for errbit errors to have their own state concept. It seems natural to manage the state of an issue in an issue tracker.

[2016-03-18 03:56] #371 closed

[2016-03-18 04:07] stevecrozz opened #1074 "remove the concept of issue status (resolving issues)"
This is a proposal and feedback is welcome before we actually decide to do this.

The concept of issue status is something that is best handled in an issue tracker. Errbit does not aim to be an issue tracker, but works well with many external issue trackers through the errbit_plugin interface.

Errbit's job is to accept error reports and provide a nice UI for browsing them. I don't see any value i

[2016-03-23 05:41] stevecrozz commented on #1072
I'm going to close this, but come back to the mailing list or the gitter channel if you need help getting puma going.

[2016-03-23 05:41] #1072 closed

[2016-03-23 16:26] Polarisation commented on #1074
Issue status is a key feature for me. When there are hundreds of errors reported each day, it is very helpful to be able to quickly hide issues by marking them resolved and have them pop up as unresolved if they appear again. For complex/reoccurring issues I would log an issue in an issue tracker, but for quick fixes it's very helpful to have the resolve feature there in ErrBit.

[2016-03-29 05:16] stevecrozz commented on #1074
@Polarisation If I understand correctly, you're saying you have not just hundreds of errors, but hundreds of distinct types of errors happening every day. And you are using the resolve feature as a kind of 'mark as read' feature so you know what you have and haven't looked it. If that's the case, then that does sound reasonable. I hadn't thought of it this way. But I'll leave this open for a while

[2016-03-29 15:56] chewi opened #1077 "UI for email watcher type accidentally removed?"
I understand the thinking behind #561 and don't have a problem with it except that the form fields for adding email-only watchers have been removed. The functionality seemingly still exists in the backend so perhaps this was accidental?

[2016-03-29 16:14] stevecrozz commented on #1077
We should probably remove the code that does email notifications for non-users since we don't support it any longer.

[2016-03-29 16:19] chewi commented on #1077
Perhaps it could be done as a Notification Service instead?

[2016-03-29 16:23] stevecrozz commented on #1077
@chewi That's exactly what I've had in mind, but I've been wanting to refactor the notification services the same way I refactored the issue trackers so they can be external plugins.

[2016-03-29 17:37] Polarisation commented on #1074
@stevecrozz Yes, "mark as read" is a good analogy, so perhaps it should be renamed. I do sometimes mark errors resolved when they were not truly resolved, but I had made a judgement that they were not important.

I'm probably not dealing with hundreds of distinct errors each day, but sometimes the grouping does not work perfectly (I'm aware that with more effort I could customise it), which is ano

[2016-04-13 13:30] danielneis opened #1081 "Filter (or discard) notices based on user agent"
Hello,

here an example of browser statistics for a "file not found" exception thrown by a Moodle site I help maintain:

Browser
97.7% 	facebookexternalhit 1.1 ()
1.1% 	Googlebot-Image 1.0 ()
0.6% 	Firefox 11.0 (Windows XP)
0.4% 	Safari 9.0 (iOS 9.3)
0.2% 	Firefox 43.0 (Linux x86_64)

So, it would be very nice if we could filter out those 98.8% of "false positives", what do you think?

We could ha

[2016-04-13 19:10] mattberther commented on #1081
Hi @danielneis,

I might be missing what you're asking for -- but Im not sure this belongs in errbit. Errbit should just be logging whatever it receives. If you dont want something logged, then the request to errbit shouldnt happen.

The official airbrake gem for Ruby allows for your scenario thusly:

[code]

You didnt mention what airbrake library you're using from your application -- maybe it ha

[2016-04-14 14:55] danielneis commented on #1081
Hi, @mattberther

thanks for your response.
I was really wondering if this should be done on the client library or on the errbit side, and just because I saw it on the ruby gem config I thought it would be done on errbit, but looking again it seems better to be a "per application" decision like your example.
I am currently using the PHP lib from https://github.com/emgiezet/errbitPHP
May I suggest

[2016-04-14 15:22] mattberther commented on #1081
@danielneis I just looked at the errbitPHP project and it appears as though theres an undocumented config option that you might be able to use.

https://github.com/emgiezet/errbitPHP/blob/master/src/Errbit/Errbit.php#L157

Maybe you can try setting the `skipped_exceptions` property in your configure call.

[2016-04-14 17:23] danielneis commented on #1081
Huum... quite there, but the test that is made is "$exception instanceof $skippedException"
https://github.com/emgiezet/errbitPHP/blob/master/src/Errbit/Errbit.php#L168

I do not want to ignore a type of error, I want to ignore when te error is caused by a particular user agent. I will suggest there that we do anoter test with another config option to skip user agents.

Kind regards,
Daniel

[2016-04-14 22:32] mattberther commented on #1081
Yes, of course. Sorry about the erroneous information.

[2016-04-15 15:04] quexpl opened #1084 "Send notification in background jobs"
Errbit needs send notifications in background process, there is no reason to wait until notifications are sent, it only slows down errbit client. Let's start disquss about this.
Referenced PR: #834 #1082

[2016-04-15 20:26] stevecrozz commented on #1084
This is a great idea. There are of course tons of ways to accomplish this. In my mind, the ideal solution would be something that is very simple and has no additional deployment dependencies. It would be great if the existing puma master process could start one or more background threads for async notifications and process them without blocking the main web threads. That could likely be done in co

[2016-04-15 21:21] quexpl commented on #1084
Well i think that solution proposed by @Strnadj in Strnadj@4f389a5 is great. By defautl all ActiveJobs runs immediately (by inlineAdapter), but when user set ENV['QUEUE_ADAPTER'] jobs start running in backgound.

[2016-04-15 21:31] quexpl commented on #746
Where can i found latest sources and recent discussion about bootstrap in errbit? There are several places talking about that. I want to work on this.

[2016-04-15 21:47] stevecrozz commented on #1084
Yeah. Maybe that would be a good first step, to use active job to manage notifications with no specific support for a particular adapter.

[2016-04-18 21:31] yhourdel opened #1085 "Issues when linking Google account"
Hi,
I'm having issues while trying to link a Google account to an existing User: when I click on the "Link Google account" I am redirected to the homepage with the following message: "You are already signed in.".
Any idea on how to fix this ? Google auth is really a great feature, and I'm happy you guys are trying to make it available.

[2016-04-18 21:37] stevecrozz commented on #1085
@8398a7 Are you able to chime in and help support this new feature?

[2016-04-19 05:54] adisos commented on #1077
@stevecrozz

So now there is no option to subscribe only one user? Either all users, or no one?

[2016-04-19 06:56] chewi commented on #1077
No, users can subscribe and unsubscribe themselves. This is about email notification with no user behind it.

[2016-04-19 07:19] adisos commented on #1077
It's strange, because I have no select box where I can choose watchers.

![image](https://cloud.githubusercontent.com/assets/592907/14630734/4fbb667e-0631-11e6-9ac3-66d4992d38f5.png)

[2016-04-19 09:05] chewi commented on #1077
Look at the application page (not the edit page) and you'll see a watch/unwatch button at the top right.

[2016-04-19 09:12] adisos commented on #1077
Oh, indeed. Thanks

[2016-04-19 09:46] 8398a7 commented on #1085
@yhourdel
Is error message the "User already registered with..."?
In that case, the specified Google account already there is a possibility that has been linked to another account.
https://github.com/errbit/errbit/blob/master/app/controllers/users/omniauth_callbacks_controller.rb#L50
In the case of the above, I think the solution is to break the link of the Google account that is tied in with a di

[2016-04-19 12:08] yhourdel commented on #1085
@8398a7
Nope, I double checked and no user have a google_uid. I've just migrated from a previous version, it's the first time anyone tries that.
And the message is texto "You are already signed in.".

[2016-04-19 12:38] 8398a7 commented on #1085
Field of google_uid within mongodb will exist?

Is the results of `User.first.google_uid` nil?
Or is the exception?

[2016-04-19 15:57] glampr opened #1087 "Combatible with Airbrake 5?"
Is the latest gem compatible with the new Airbrake v5 (released 18th December 2015)?

[2016-04-19 16:14] stevecrozz commented on #1087
Should be. Are you finding any problems?

[2016-04-20 10:33] martnst opened #1088 "Deploy to Heroku MongoDB config not working"
Hey,

when using the Deploy to Heroku button it will setup a new app with where the URL to the mongo db add-on is configured in `MONGODB_URI`. This configuration seems to be not taken into consideration though, see [here](https://github.com/errbit/errbit/blob/master/config%2Fload.rb#L29).

[2016-04-21 18:39] trueinviso commented on #1088
+1, I had to add the key MONGODB_URL = <url> that was under the MONGODB_URI key on heroku to get this to work.

[2016-04-21 18:43] stevecrozz commented on #1088
ha, they changed url to uri? Anyone want to do the honors or shall I?

[2016-04-21 20:04] #1088 closed

[2016-04-22 15:30] ngw opened #1091 "Problem deploying"
I'm having problems deploying, and I can't find a way to solve them

Gemfile.lock: https://gist.github.com/ngw/e1219d799cac2d1ecde23e83c6975e30
Backtrace: https://gist.github.com/ngw/bef9a26b9536a7f782c8a8c1e7db303f

This is almost plain errbit, and capistrano fails...

[2016-04-25 18:12] gjastrab commented on #1087
I had an error when I had tried setting up a new test staging environment running inside Docker with the (I believe) 0.6.1 tag. I think i was properly on that tag (and not master), but I was in a bind, so I just rolled back to 0.6.0 to get up and running quickly and it worked for me then.

On 0.6.1 errbit had told me to set my app's Gemfile to use airbrake with `'~> 5.0'`, however when the app tri

[2016-04-25 19:33] mattberther commented on #1087
I believe you need to update the initializer to pass along the project_id (which is the application id from the URL) and also change api_key to project_key.

https://github.com/airbrake/airbrake/blob/master/docs/Migration_guide_from_v4_to_v5.md

[2016-04-25 20:51] gjastrab commented on #1087
Yep, I had done that in the app, so the app was calling my errbit with that project_id & project_key parameters but errbit was throwing a Route not found error - it seemingly didn't know how to respond to the v5 style Airbrake URLs.

[2016-04-27 21:35] stevecrozz commented on #1081
Looks like this one is solved in the errbitPHP package. Closing this issue.

[2016-04-27 21:35] #1081 closed

[2016-04-29 18:51] stevecrozz opened #1093 "remove merge and unmerge"
Errbit has a feature that allows users to merge and unmerge problems. I've worked closely with errbit for years and have never used this feature. It's also not documented and the code that supports it hasn't been touched in a long time. Supporting this feature adds complexity to the data model in that we distinguish between Err and Problem in order to allow one problem to represent multiple Errs.

[2016-04-29 18:54] stevecrozz commented on #1074
I'm convinced to not remove issue status tracking. I think it could make sense to rework the naming to track your specific use case more closely because 'read' makes more sense than 'status', but that seems like a pretty unimportant change, and possibly not worth the effort. What I would like to do though is add documentation for issue statuses. So I'll make an issue for that.

[2016-04-29 18:54] #1074 closed

[2016-04-29 18:55] stevecrozz opened #1094 "document issue status management"
After discussion #1074, it seems like there is a clear use case for issue status management in errbit, if only to use it as a kind of group-based mark-as-read feature. What's missing is documentation for what issue statuses mean in errbit. So we need to add that.

[2016-04-30 08:25] xdmx commented on #1093
Hey Steve, I personally use the merge feature a lot, I often have the same error but with different titles, for example the last one was `NoMethodError: undefined method `join' for 1:Fixnum Did you mean? JSON` and then I got `NoMethodError: undefined method `join' for 2:Fixnum Did you mean? JSON`, I then merged them together in order to keep them under a single error and not multiple.
To me the ab

[2016-04-30 19:28] yhourdel commented on #1085
@8398a7 `User.first.google_uid` returns `nil`

[2016-05-05 18:29] 8398a7 commented on #1085
Please show me the stack trace of that time

[2016-05-06 17:13] yhourdel commented on #1085
Ok got it, the G+ API was not activated:
[code]

I guess the error message should just be clearer, if anything.
Thanks!

[2016-05-06 17:13] #1085 closed

[2016-05-11 23:23] blimey85 opened #1096 "Trick to getting smtp to work?"
My install and instal setup went swimmingly. Then I spent a little over three hours trying everything I could think of to get SMTP working. I'm using SendGrid but I've also tried Gmail with no luck. I don't get any errors, notifications, or any mention in the log file that it's even attempting to send an email. I'm running this on Ubuntu using Nginx and Passenger. My other Rails apps send fine. My

[2016-05-11 23:46] stevecrozz commented on #1096
I don't think this kind of ERB syntax works inside a .env file, but you should be able to run a console with ./bin/rails console and check the values in:
ActionMailer::Base.smtp_settings

[2016-05-11 23:57] blimey85 commented on #1096
Thank you for your help on this! You are correct about ERB not working inside the .env file. So I took that out and hard coded the values in there. Running in console I get:
[code]
Which looks correct. I did another test and no dice. Should I be seeing something in the log where it's attempting to send the email? I have logging set to debug but I get the params and then the database stuff. No ment

[2016-05-12 01:58] blimey85 commented on #1096
Ok, this was my own fault. @stevecrozz was awesome in helping me figure out what I was doing wrong. In case anyone comes across this, by default emails are sent 1, 10, and 100th time an error occurs. I was testing the same error over and over and wondering why email wasn't working. Everything was working fine. Frustrating to waste several hours chasing my tail.

[2016-05-12 01:58] #1096 closed

[2016-05-15 12:40] Paludis commented on #1093
I use it, I actually wish errbit was a bit smarter about merging similar issues automatically.

[2016-05-15 16:07] mattberther commented on #1093
I also use merge often - but not unmerge.

[2016-05-16 19:21] stevecrozz commented on #1093
Thanks for the feedback. Its a good eye-opener for me to see how you all are using errbit. I'm not going to push hard for this. So far it looks like there's no support for simplifying the data model and removing this feature. I'll take this idea off the table soon unless I get a bunch of support from other real users.

[2016-05-20 12:20] Stormcore opened #1099 "Website down"
subj

[2016-05-20 17:28] stevecrozz commented on #1099
Thanks. I'm looking into it now.

[2016-05-21 21:37] nmenag opened #1100 "support of markdown in the comments"

[2016-05-23 05:38] stevecrozz commented on #1100
Interesting thought. I've actually considered removing the comment feature. Does this mean you use Errbit comments regularly?

[2016-05-27 23:29] antillas21 opened #1101 "Wrong host in mail URLs"
Hi,

Just deployed errbit to a droplet at digital ocean.

I followed the configuration instructions in your doc pages, and added these ENV vars to the `.env` file:

[code]

then checked in the production server if `ActionMailer` is properly configured:

[code]

All seems to be OK... but when, for example, requesting to reset a user password, the email received displays the following:

[code]

for

[2016-05-28 01:36] stevecrozz commented on #1101
This all seems fine. I can see that the configuration looks good and it
looks like the configuration is effective in your console session. The only
thing that comes to mind is that maybe the configuration is not effective
in the server process.

To debug it, I'd consider adding some logging to the application to make
sure all this info that you've already double-checked in the console
(especially

[2016-05-28 03:41] nmenag commented on #1100
yes, i use the comments in Errbit

[2016-05-28 04:23] antillas21 commented on #1101
Thanks for the suggestions @stevecrozz ... I retrieved my user from the console and called `.send_reset_password_instructions` on it, the email I received displays all the correct information

[code]

but still, when going through the app in the browser, I get the default settings on all emails.

I'm thinking if this could be caused by the fact that I first deployed the app without customizing ENV

[2016-05-28 04:53] antillas21 commented on #1101
OK, think it was precisely that... app was being served by the previous process, when custom ENV vars didn't exist... how is this possible ¯\_(ツ)_/¯ ?

[2016-05-28 04:53] #1101 closed

[2016-05-31 18:51] ACPK commented on #1099
+1

[2016-05-31 19:22] stevecrozz commented on #1099
errbit.com is starting to resolve correctly now. it should be getting back to normal

[2016-05-31 19:22] #1099 closed

[2016-05-31 20:59] stevecrozz commented on #1091
Not sure what's going on here. Is this a brand new install? I'd consider removing /home/deployer/apps/errbit/ and starting over...

[2016-06-07 09:27] delphaber opened #1102 "`project_id = true` does not work with airbrake 5.4"
`airbrake-ruby` 1.4.1 does a `.to_i` on `project_id` value, so we cannot use `true` anymore.

Can we use a fake number like `99999` ?

[2016-06-07 09:28] delphaber commented on #1102
[code]

[2016-06-09 18:15] dsandstrom opened #1104 "Add backtrace to Slack's notification"
I added a backtrace to my Slack notification.  Is there interest in a PR?

[2016-06-10 07:21] spotscale commented on #580
Can you explain more clearly how this was fixed?

[2016-06-10 21:13] dsandstrom opened #1105 "Mongoid InvalidValue - Value of type String cannot be written to a field of type Array"
Reproduce:
1. Add a new app
2. Click Slack Notification Service
3. Click Save
[code]
[code]

[2016-06-10 21:19] dsandstrom opened #1106 "Suggest adding environment to configuration instructions"
Specifying the environment an an app's initializer is now required for Errbit to know which environment the error occurred in.  I suggest adding:
[code]
or something similar to the instructions or README.

[2016-06-15 06:04] leckylao commented on #1087
Agreed with @gjastrab , I have the same issue here and I can confirm that it doesn't compatible with Airbrake 5. Here's the error:

`ActionController::RoutingError (No route matches [POST] "/api/v4/projects/1/deploys")`

And when you run rake routes from errbit there's only route for /api/v3 and no route for /api/v4

From Airbrake5 it adds Airbrake-ruby as dependency. And you can see since Airbrak

[2016-06-15 17:36] dsandstrom commented on #1106
Or you could instruct the user to run Airbrake's generator.  Provide the command with the appropriate attributes.

[2016-06-20 18:36] nofxx commented on #1102
Confirm, also: that's from `airbrake-ruby`, not the same gem. The version works: `1.3.1`, fails: `1.4.1`
Related to #1087

[2016-06-20 18:56] stevecrozz commented on #1087
@leckylao: errbit doesn't support deploy tracking any more, but the rest of this does seem to be a problem we need to address

[2016-06-20 19:49] weh commented on #1106
tested with airbrake gem version 4.3.6 and 5.4.0, and can confirm that the environment is missing when using 5.4.0

see https://github.com/airbrake/airbrake-ruby#environment

[2016-06-20 22:57] leckylao commented on #1087
@stevecrozz Thanks for the reply. That was a good feature. Pity to hear it's gone..... It would be good to highlight that in the README.

[2016-06-20 23:11] stevecrozz commented on #1087
@leckylao Yeah I know there were a few people who used that feature. If you're interested in the rationale, you can read a little more at: https://github.com/errbit/errbit/issues/913

[2016-06-21 18:00] weh commented on #1102
@stevecrozz issue can be closed (?)

[2016-06-21 18:02] #1106 closed

[2016-06-21 18:05] stevecrozz commented on #1102
Yep. You're right @weh

[2016-06-21 18:05] #1102 closed

[2016-06-22 02:31] nofxx commented on #1087
Albeit it works, errors do get into errbit nicely, the gem is kinda confused by the return:

[code]

Maybe it's something to do with expecting a Integer project ID too...

[2016-06-22 02:44] stevecrozz commented on #1087
@nofxx Are you using v0.6.1?

This controller is supposed to return status code of 201: https://github.com/errbit/errbit/blob/v0.6.1/app/controllers/api/v3/notices_controller.rb#L21

[2016-06-22 18:40] nofxx commented on #1087
@stevecrozz my bad! was on 0.3.0! No error on errbit 0.6.1!
Locking airbrake-ruby on 1.3.2, because of the `to_i` issue mentioned.
For those reading only this ^

[2016-07-04 19:44] orenmazor opened #1109 "all redirect_uri's set to "errbit""
I just deployed a new instance of errbit and noticed that for both github and google oauth, my redirect uris are stuck at `http://errbit/users/auth/github/callback`

I updated omniauth-oauth2 since I noticed there's a new version, but hadn't had a chance to dig into this. did I miss a config step? this worked very recently on another server, so there couldn't've been much that's changed

[2016-07-05 19:22] orenmazor commented on #1109
ended up kneejerk fixing it with a `OmniAuth.config.full_host = "foo.bar.com"` setting in the production.rb file, but that's clearly not the correct thing to do.

[2016-07-06 13:12] blackghost1987 opened #1110 "Missing "environment" field causes a NoMethodError"
If the v3 error notice doesn't contain the environment field (which should contain the table of the environment key-value pairs), a NoMethodError is raised because it's value will be nil. According to the Airbrake documentation, the field is optional, so nil should be handled.

NoMethodError: undefined method `merge' for nil:NilClass

Backtrace:
lib/airbrake_api/v3/notice_parser.rb:57→ request
lib

[2016-07-06 13:19] blackghost1987 opened #1111 "Empty backtrace list causes an error when displaying the problem"
If the v3 error notice contains an empty list of backtrace lines, the request is accepted, but the issue cannot be displayed in the ErrBit UI, because it fails with an error. The backtrace list is a mandatory parametera according to the Airbrake v3 API, but I'm not sure if an empty backtrace list is considered as a valid notice. If not, then the lower processing layers should reject the POST reque

[2016-07-06 23:49] stevecrozz commented on #1110
@blackghost1987 Can you add the version number and sha1 for the Errbit version with this error?

[2016-07-06 23:50] stevecrozz commented on #1111
@blackghost1987 Can you add the version number and sha1 for the Errbit version with this error?

[2016-07-07 08:38] blackghost1987 commented on #1110
Error detected on v0.6.0, the latest master with SHA1: 0edf36b594b1ec585f02f4bfcc674a8b8c8b01b7

[2016-07-07 08:38] blackghost1987 commented on #1111
Error detected on v0.6.0, the latest master with SHA1: 0edf36b594b1ec585f02f4bfcc674a8b8c8b01b7

[2016-07-07 18:31] stevecrozz commented on #1110
Thanks for the report @blackghost1987. We'll get a fix in the next release.

[2016-07-07 20:25] stevecrozz commented on #1111
I'm fine with supporting empty backtraces. I think we should go ahead and add notices even with empty backtraces. Thanks for the report.

[2016-07-07 21:27] blackghost1987 commented on #1111
Great! In the meantime I've checked the JSON schema definition and it looks like a required list can be empty. The Airbrake schema doesn't specify anything about the number of items as far as I know, so it probably should be accepted.
And just to clarify again: The notice is already added, it's showing up in the problems list, the error is happening only when the problem details page is opened.

[2016-07-21 22:13] trueinviso opened #1112 "Can't view errors"
I can't view any errors in errbit.  The errors come through but they all have the same generic location that looks something like this: `/apps/56ccccc3ababa000c00004f/problems/577777717aab222c00002c`.  When I click on this link to view the error I get the following error:

![image](https://cloud.githubusercontent.com/assets/5495092/17040556/3f5ae1fc-4f55-11e6-8de2-eb2487e994b4.png)

Every error sh

[2016-07-21 22:55] stevecrozz commented on #1112
oh my. since you can't see the error in errbit, we'll need to collect information about the error from your log files. can you search through there and see if you can find one and paste it here?

[2016-07-21 23:25] trueinviso commented on #1112
This is the error I am getting: `Mongo::Error::OperationFailure (quota exceeded (12501))`.  But I'm a little confused because in the mLab control panel (using heroku) it looks like this:

![image](https://cloud.githubusercontent.com/assets/5495092/17042075/a3f87566-4f5f-11e6-9b65-c212d8678f8a.png)

They all say capped false.  Am I missing something?

[2016-07-22 00:06] stevecrozz commented on #1112
That all looks fine, but it does seem like you must be hitting some limit with mlab. I found a suggestion here that might help: https://twitter.com/bradezone/status/413355049805709312

[2016-07-22 01:30] trueinviso commented on #1112
That fixed it, thanks a lot!

[2016-07-22 01:30] #1112 closed

[2016-07-22 15:17] etherbob opened #1113 "Mongo 3.2 and search issues"
Sys admins wanted to go right from Mongo 2.4 (redhat supported) to 3.2

Downside is that searches now fail: with Mongo::Error::OperationFailure: text index required

Was able to get around by removing the following from Problem:
  index app_name: 1
  index message: 1

Specs all run. Wondering if a pull-request would be welcome here or if this would break anything under mongo < 3.2

[2016-07-22 18:24] stevecrozz commented on #1113
I'd like to understand this one a bit more. The error message is saying you need a text index to do a text search which makes sense. I can't see why removing the non-text index declarations for two fields would cause searches to start working.

Are you able to reproduce this issue on new errbit installs?

[2016-07-23 20:04] Bishop opened #1114 "Feature request: vim-style navigation"
For essentials:
j and k for navigation on list;
s or x to check current row;
d - delete, m - merge, r - resolve

[2016-08-11 10:08] creativeusername opened #1116 "Can't seem to find a compatibility list."
Hi, we are on an older version of Errbit but had to update airbrake for rails5. I can't seem to find a compatibility list of the different errbit versions with the different airbrake apis. It would be a huge help to know which version of errbit supports which api of airbrake with a quick look in the docs.
If I overlooked something then please point me in the right direction.

[2016-08-25 09:44] arrowcircle commented on #913
Hey!
Another aspect of this feature is deploy tracking (who when what).
Also, it breaks compatibility with airbrake v5 feature. Should we stub it with OK https status to keep compatibility?

[2016-08-29 22:35] stevecrozz commented on #913
@arrowcircle What would be the reason? Is there something broken? I wouldn't want to try to support the complete airbrake API for the purpose of completeness. Maybe we should instead clarify the language about API support in the README file. We do attempt to support the error notification action: https://airbrake.io/docs/api/#create-notice-v3 but I wouldn't make any claims to Airbrake API compatib

[2016-08-31 16:35] stevecrozz commented on #1116
This is a good idea. But it can be challenging because Airbrake actually makes backwards-compatible changes without changing version numbers. So they add fields, move fields, and change their docs, while keeping the v3 moniker. Their endpoints continue to accept the old API definition and so does Errbit, but Errbit doesn't accept new API requests until we notice the change and adapt.

The short of

[2016-08-31 16:38] stevecrozz commented on #1116
Not to expand the discussion too much, but I've also been toying with the idea of finding another, more stable API to emulate. If its easier to stop improving the Airbrake API support and instead work on an alternate API, that's a discussion we can definitely have.

[2016-09-09 21:10] dsandstrom opened #1119 "Airbrake doesn't like -1 for project_id"
I received an error when deploying my app:
[code]

airbrake-ruby-1.5.0
airbrake-5.4.5.

I was using `-1` as the configuration instructions show.  I changed the `project_id` to `1234` and that seemed to work.

[2016-09-09 21:20] stevecrozz commented on #1119
Yeah. I think new versions of airbrake-ruby added more unnecessary validations in the client. I'll need to update the docs.

[2016-09-09 21:25] stevecrozz commented on #1119
Pushed a change to the instructions to solve this issue. For the curious, here's the new validation airbrake provides that broke the instructions:
https://github.com/airbrake/airbrake-ruby/blob/107dd2adb1227700baa1f75a2fe6719fb85a66fb/lib/airbrake-ruby/config/validator.rb#L46

[2016-09-09 21:25] #1119 closed

[2016-09-20 21:20] dankozlowski commented on #1113
I'm getting this too.

Here's a backtrace @stevecrozz:
[code]

And the request payload:
[code]

[2016-09-20 21:31] dankozlowski commented on #1113
My errbit install is < 6m old.

[2016-09-21 19:07] stevecrozz commented on #1113
I'm not clear on what's going on yet, but I can describe the way its supposed to work and provide a few ideas on tracking it down.

The index needed to search problems is defined using Mongiod's syntax here: https://github.com/errbit/errbit/blob/v0.6.1/app/models/problem.rb#L42-L48

If the message is `Mongo::Error::OperationFailure: text index required` then its probably safe to assume the index r

[2016-09-23 14:51] nmenag opened #1120 "Improvement search of the issues"

[2016-09-23 15:24] nmenag commented on #1104
this is possible, if you create a app in the section of **NOTIFICATION SERVICE** you can added the hook url of you Slack

[2016-09-23 15:37] dsandstrom commented on #1104
I know that you can send a notification to slack. However, I propose that a
short backtrace gets added to the notification.  Is that currently an
option?

On Fri, Sep 23, 2016, 8:24 AM Nicolas Mena <notifications@github.com> wrote:

[2016-10-02 13:28] JulienFontaine opened #1122 "ArgumentError: Malformed version number string Rails/4.2.6"
Hi,

I configured an Errbit server on Heroku using the "deploy to Heroku" button, created an Errbit app and setup my Rails app following the wiki (https://github.com/rotati/wiki/wiki/Add-and-configure-Errbit-on-your-app). The only change I did is to use the airbrake gem in every environment to be able to test it in development before pushing it to staging.

When I try the command `rake airbrake:te

[2016-10-06 17:23] #1110 closed

[2016-10-07 23:44] #1111 closed

[2016-10-09 05:06] alexkojin opened #1127 "Deploy To Heroku button is broken"
I've tried to install errbit using "Deploy To Heroku" button form this page [https://github.com/errbit/errbit/blob/master/docs/deployment/heroku.md](https://github.com/errbit/errbit/blob/master/docs/deployment/heroku.md) and got next error.

[code]

[2016-10-09 05:19] stevecrozz commented on #1127
Thanks for the report @alexkojin. I'm working on a fix at : https://github.com/errbit/errbit/pull/1128

[2016-10-09 05:28] stevecrozz commented on #1127
Just tested it myself. You should be good to go!

[2016-10-09 05:28] #1127 closed

[2016-10-09 05:28] alexkojin commented on #1127
Thanks!

[2016-10-09 05:34] stevecrozz opened #1129 "run bootstrap script on heroku deploy"
Use https://devcenter.heroku.com/articles/app-json-schema#scripts to specify that heroku should run the bootstrap script automatically. I'm thinking it would be a good idea to combine this with environment variables that define the admin user and password so users don't have to go hunting for them.

[2016-10-19 05:11] robinboening commented on #1113
Did that take task solve the issue @dankozlowski ?

[2016-10-20 22:07] stevecrozz commented on #1054
Fixed in master

[2016-10-20 22:07] #1054 closed

[2016-10-21 01:02] lucianosousa commented on #1122
everything looks fine here for me. I just did a fresh install now.

did you update your `config.host` with the heroku URL?

[2016-10-21 01:03] lucianosousa commented on #1087
I think this issue can be closed, isn't?

[2016-10-21 01:06] lucianosousa commented on #915
outdated. I think it's can be closed

[2016-10-21 01:08] lucianosousa commented on #1129
good idea. I was struggling here to login in a heroku fresh installation.
also, the documentation should be improved in that part

[2016-10-21 07:36] JulienFontaine commented on #1122
Yes I updated the config.host with heroku URL. I tried different things but none worked.

In the meantime, I started over and installed a fresh copy manually using this tutorial: https://github.com/errbit/errbit/blob/master/docs/deployment/heroku.md -> The Hard Way, and it's working fine now.

It looks that there's a difference between the "manual way" and the "automatic deploy to heroku way".

[2016-10-24 08:40] halida opened #1132 "Notify on deploy and link to notification service"
Hi, errbit have deploy log, I'm thinking about it should have notify service for it ( like link to slack ), so every member in the team knows which application is deployed.

[2016-10-26 06:17] halida opened #1133 "Deploy track feature needed"
I found deploy list is missing for the 0.6.0 version, after that, I found you remove it: https://github.com/errbit/errbit/issues/913

It is an good feature to track when and which version is deployed for an app, if you really want delete this feature, can you suggest an alternative? Thanks.

[2016-11-04 11:19] Bjoernsen opened #1136 "Enable Mattermost"
[Mattermost](https://github.com/mattermost/platform) is the open source Slack alternative.
It would be easy to enable Mattermost because it offers the same API.

Theoretically, it is enough to use a mattermost hook url instead of a slack hook url.

There is one issue. The value for `Times Ocurred` should be a string and not an integer.

see:
https://github.com/mattermost/platform/issues/3666#issue

[2016-11-11 18:44] stevecrozz commented on #1133
Hi @halida, I suppose it depends on your use case. At one point, I was working on a project that I was deploying with Capistrano and I wanted notifications in slack, so I used https://github.com/phallstrom/slackistrano. That's a very specific use case and may not suit your needs even if its just sending an email to yourself or adding an entry to keen.io.

As far as Errbit goes. It should know some

[2016-11-11 18:44] #1133 closed

[2016-11-11 18:49] stevecrozz commented on #1132
It is important to know which application versions have errors, but there could be many versions of an application that are deployed. There might not be a single version deployed, but I think there is still some work we could do to help users understand which versions of their applications are having problems. More advanced searching would help I think or maybe a way to group errors by application

[2016-11-11 18:49] #1132 closed

[2016-11-12 03:09] halida commented on #1133
@stevecrozz Thanks, I will check it out.

[2016-11-12 17:43] ccouzens opened #1137 "No documentation for running errbit using HTTPS"
There is no documentation for running errbit using https.

By reading the puma documentation, I figured out it could be done by running:

[code]

Would you accept a pull request to add this to the documentation?

Additionally, would you accept a pull request to create an alternative docker image that serves using https?

[2016-11-14 18:03] stevecrozz commented on #1137
Formerly, we've been doing HTTPS with a separate front end web server to handle the TLS stuff, but if puma can do it, maybe that's just fine for small errbit deployments. A good place for that info would be https://github.com/errbit/errbit/blob/master/docs/deployment.md .

I don't think this would require a separate docker image, although we could explore that if you think it does. Docker users sh

[2016-12-05 19:00] #1136 closed

[2016-12-14 10:14] CR4567 opened #1146 "uninitialized constant DecentExposure::StrongParametersStrategy"
Hi,
after upgrading from errbit v0.6.0 to current master, I'm getting the following error when trying to start the application. But decent_exposure gem is installed and has the newest version. I'm running ruby 2.3.1, before everything worked fine. Any ideas?

NameError: uninitialized constant DecentExposure::StrongParametersStrategy
/var/www/errbit/app/controllers/application_controller.rb:10:in `

[2016-12-14 18:51] stevecrozz commented on #1146
So far I haven't been able to reproduce this. You ran `bundle install` and then `bundle exec puma` to start the app and it crashes with NameError? Could you post the whole CLI output from:
[code]

Mine is attached here:
[init.txt](https://github.com/errbit/errbit/files/652575/init.txt)

[2016-12-15 09:05] CR4567 commented on #1146
thanks for the quick reply.
Actually I didn't run the server. I tried the upgrade process and got the error when trying
`rake db:mongoid:remove_undefined_indexes
`
But it occurs also when trying to start the server. In detail:

 Log:
[log.txt](https://github.com/errbit/errbit/files/654200/log.txt)

[2016-12-15 17:08] stevecrozz commented on #1146
@CR4567 Just to be sure, can you try `bundle exec rake ...`

[2016-12-15 17:12] CR4567 commented on #1146
hm... throws also an error.
[log.txt](https://github.com/errbit/errbit/files/655351/log.txt)

[2016-12-15 17:46] stevecrozz commented on #1146
@CR4567 Well this is very strange. It seems like there's something wrong with the bundle. decent_exposure is in the Gemfile and for whatever reason it can't be autoloaded. Could be a problem with the autoloader, a problem with the load path, or maybe somehow the gem really isn't there.

Can you do this without seeing any errors?
[code]

[2016-12-15 18:00] CR4567 commented on #1146
Again error.... looks like the gem is not correctly installed, but I already uninstalled and it, and tried bundle install again....
[log.txt](https://github.com/errbit/errbit/files/655446/log.txt)

[2016-12-15 18:10] stevecrozz commented on #1146
Might have to. You could take Errbit entirely out of the equation by creating a brand new project folder and putting a Gemfile in it with only `gem 'decent_exposure'` and see if you can load the gem just as above (bundle exec irb). If that still fails, then there's something fundamentally broken or misconfigured about your ruby or environment.

[2016-12-16 10:15] CR4567 commented on #1146
ok... I didn't get it running. I removed my complete rvm installation with all gems and reinstalled everything. But no effect.
For now I removed the parts about decent_expsure in /app/controllers/application.rb and got it working  again. Maybe I find some time later to investigate the real issue....

Thanks a lot for your help and support.

[2016-12-16 16:45] mattscilipoti commented on #913
The initial description included both "remove support for deployment tracking as a standalone feature" and "**add a little UI around navigation errors that belong to specific app versions.**"  I can't find any commits for the second part, the UI changes that support this.  Am I just missing them?

[2016-12-16 17:06] stevecrozz commented on #913
You haven't missed it. We do still want this feature. There's a number of stories like this one that I would group under 'advanced search' that would be super useful.

[2016-12-16 17:23] stevecrozz commented on #1137
Resolved with https://github.com/errbit/errbit/issues/1139

[2016-12-16 17:23] #1137 closed

[2016-12-19 08:47] dmitry-fedyuk commented on #1146
I have the same issue too.
The `lib/decent_exposure/strong_parameters_strategy.rb` file was removed from the 3.x branch of the `decent_exposure`:
https://github.com/hashrocket/decent_exposure/tree/v3.0.2/lib/decent_exposure
https://github.com/hashrocket/decent_exposure/blob/v2.3.3/lib/decent_exposure/strong_parameters_strategy.rb

[2016-12-19 17:45] stevecrozz commented on #1146
Nice catch. I was thinking the Gemfile.lock would prevent this:
https://github.com/errbit/errbit/blob/v0.6.1/Gemfile.lock#L103

I've apparently got a misunderstanding of how the Gemfile.lock works. I'll look into this.

[2016-12-19 17:47] CR4567 commented on #1146
ah nice one. Thanks @dmitry-fedyuk . Helps me a lot... was really struggling what I did wrong :-)

[2016-12-20 08:20] stevecrozz commented on #1146
I don't understand how this can be happening actually. Even in a fresh environment, bundle install installs the correct version of decent_exposure. Have you folks run a `bundle update` by chance? That could definitely change the gem versions...

[2016-12-20 08:49] scicco commented on #975
Hi guys, this is my PR for this, let me know if it's ok.
Thank you in advance for your work!

#1150

[2016-12-20 16:10] scicco commented on #1069
Hi,

i've fixed this problem by moving all the destroy operations of Problems inside a background job, by introducing Active Jobs with sucker_punch in particular, as already suggested in #1084 for another task.

Here you find my changes: #1151

Hope this helps!

[2016-12-23 06:52] stevecrozz commented on #1146
Still haven't seen this happen, but I figure we may as well upgrade to the latest decent_exposure anyway. So I put together #1153 for that. You're welcome to give it a whirl.

[2016-12-29 19:09] stevecrozz opened #1154 "reimagine the documentation site (errbit.com)"
The docs site is old, ugly and difficult to use. We should create a new docs site with some new and useful properties:

- https only
- ability to view docs for old releases
- docs automatically generated from the README file and ./docs folders in the project
- new design to allow easy navigation and readability

[2016-12-29 19:10] stevecrozz commented on #915
@lucianosousa you're right, but I do actually have some big plans for a new docs site, so I'm going to replace this ticket with another one #1154 to track a docs site revamp.

[2016-12-29 19:10] #915 closed

[2017-01-04 17:21] stevecrozz opened #1157 "detect / autofix incorrect mongo indexes"
It might be possible, without hurting application start time, to detect missing or incorrect mongo indexes and potentially even repair them. This could potentially save users from running into problems when they forget to rebuild indexes after an errbit upgrade or a fresh install.

[2017-01-05 09:10] titpetric opened #1158 "Preseed configuration via ENV"
Hi guys!

It would be really nice if one could pre-seed the mongodb database with ENV variables. Currently, db/seeds.rb has some "hard-coded" values, and generates a password uniquely. I am slightly working around it by creating a Makefile of my own:

[code]

Maybe I'm just not understanding correctly how to override these If I want?

[2017-01-05 09:39] titpetric commented on #1158
Hack2, since I'm building a docker image, this Dockerfile:

[code]

[2017-01-06 18:07] stevecrozz commented on #1158
This seems like a good idea.

[2017-01-12 22:20] z-matth opened #1159 "NoMethodError in Apps#show"
NoMethodError in Apps#show
See attached screenshot or full text below. Reproduces when clicking on an App name. Or clicking on a red Error count button on the main Apps tab.

I ran the following to make sure I'm up to date. No change in symptom.
git pull origin master
bundle install
rake db:migrate
rake db:mongoid:remove_undefined_indexes
rake db:mongoid:create_indexes
rake assets:precompile

Errb

[2017-01-12 22:23] stevecrozz commented on #1159
hrm. i bet this is related to the changes I just merged to support the new version of decent_exposure. will have a look soon. thanks for the report!

[2017-01-12 22:25] z-matth commented on #1159
holly bajeezus you're fast. thanks for looking into it. huge errbit fan.

[2017-01-13 03:46] stevecrozz commented on #1159
Hey thanks @z-matth. I just sat down to try to repro this error and I'm not seeing it yet. Any chance we could look at your app together? I could join you at https://gitter.im/errbit/errbit tomorrow if you're available.

[2017-01-19 06:11] stevecrozz commented on #1154
I'm finally getting somewhere with the new docs site. Anyone interested can take a look at what's brewing:
https://github.com/errbit/errbit/tree/docs

I'm going to start publishing them to errbit.com even though I haven't finished with this project because I think the value of what I've got already is greater than that of the current docs site.

[2017-02-01 18:56] diegoqlima opened #1163 "Permission for Apps"
I have a case that a non-admin user can see only one specific App.
Today a non-admin user automatically see all Apps and choose to watch errors.

I want to choose what non-admin user can see a App.

This feature already exists ? Can we implement ?

Thanks for the help and your great work on errbit!

[2017-02-01 18:58] Strnadj commented on #1163
You can look on https://github.com/netbrick/errbit/tree/user_roles. Unfortunatelly we are not using errbit anymore.

[2017-02-01 20:08] diegoqlima commented on #1163
Thanks @Strnadj i'll check.

[2017-02-06 23:03] davidlesches opened #1165 "Empty Environment Tab"
My environment tab is empty. It only shows HTTP_USER_AGENT. All the other fields, like ip and request referrer, are gone. Is there a way for me to fix this? Thanks

[2017-02-13 10:08] Elsopuro opened #1166 "Undefined method (page/total_pages) on all pages with pagination"
mongodb version v3.4.2
errbit - master branch

http://take.ms/LotV4

NoMethodError (undefined method `page' for #<Mongoid::Criteria:0x00000007eb8938>):
  app/controllers/problems_controller.rb:43:in `show'

Processing by UsersController#index as HTML
  Rendered users/index.html.haml within layouts/application (2.4ms)
Completed 500 Internal Server Error in 6ms
Internal error was logged to 'Self.Err

[2017-02-17 20:25] admazzola opened #1168 "On /users/new the submit button is in spanish"
On /users/new the submit button is in spanish using a brand new fresh install.  Everything else is in english.

[2017-02-17 20:30] admazzola opened #1169 "The main table on /problems is not responsive and breaks on chrome 56.0"
The main table on /problems is not responsive and breaks on chrome 56.0.  The table rows are overflowing over the wrapper container div.

To be more clear, the 'errs selectable' table element width is greater than the 'problem_table' div width.  I am assuming this is an issue...

[2017-02-17 20:43] #1169 closed

[2017-02-22 01:26] nmenag opened #1170 "To assign issues to User"
To assign issues to User,  similar to Github.

[2017-03-01 17:45] jackdesert commented on #1122
I am having this problem as well.
    ArgumentError: Malformed version number string Rails/4.2.4
shows up as an internal error.

I have tried with airbrake gem version 5.0, 5.5, and 5.7. They all give the same error.

Running `rake airbrake:test` gives the following output:

    E, [2017-03-01T11:43:15.614603 #6321] ERROR -- : **Airbrake: unexpected code (422). Body: Notice for old app version ign

[2017-03-01 18:07] stevecrozz commented on #1122
Hey @jackdesert. This error is part of an errbit feature that rejects errors when the version of your own application (the one sending an error notification to errbit) is older than the version you've configured for the application in Errbit.

I believe you can work around it by visiting the Errbit UI and navigating to the application's configuration and removing the info in the field 'Latest App

[2017-03-01 18:13] stevecrozz opened #1172 "remove or document 'latest app version' feature"
There have been reports of users getting confused about the 'latest app version' feature: https://github.com/errbit/errbit/issues/1122

This feature allows users to tell errbit which version is the latest version of an app and to reject error notifications from older versions (compared as semver). This could be useful for some people, but is it? I don't find it useful and the applications I track

[2017-03-01 18:15] stevecrozz commented on #1122
Anyone interested in discussing the 'latest app version' feature is welcome to join me in #1172.

[2017-03-01 19:29] jackdesert commented on #1122
@stevecrozz Yes, that fixes it for me. Thanks!

[2017-03-01 19:54] stevecrozz commented on #1122
Great. I'm going to close this issue then, and we'll figure out a way to smooth out this rough edge in #1172.

[2017-03-01 19:54] #1122 closed

[2017-03-01 20:44] jackdesert opened #1173 "Slack posts use "errbit.example.com" url"
errbit is posting to a slack channel, but when I click the link in slack it takes me to errbit.example.com instead of errbit.elitecare.com. Is this a bug, or do I have something misconfigured? I've already checked my configuration on slack.com and in config/initializers/errbit.rb

[2017-03-01 21:36] stevecrozz commented on #1173
You should be able to set that using the ERRBIT_HOST environment variable:
http://errbit.com/docs/master/configuration.html#configuration-parameters

[2017-03-02 00:26] jackdesert commented on #1173
Docs---great! I went to the wiki and it was pretty bare so I assumed the README was all the docs that existed...

[2017-03-02 00:26] #1173 closed

[2017-03-09 13:53] giorgian opened #1177 "Dockerfile: variable PORT has two different and incompatible default variables"
Running the docker container without specifying the `PORT` variable (and without using docker-compose) results in a container that keeps failing its health check.
This is because `config/puma.default.rb` contains:

    port ENV['PORT'] || 8080

while `Dockerfile` contains:

    HEALTHCHECK CMD curl --fail http://localhost:$PORT/users/sign_in || exit 1

So the server will start at port 8080 but wil

[2017-03-15 21:02] stevecrozz opened #1181 "support notices with multiple errors"
Errbit discards notices beyond the first one because the errbit data model doesn't support notices with multiple errors:
https://github.com/errbit/errbit/blob/v0.6.1/lib/airbrake_api/v3/notice_parser.rb#L32

We should update the data model and UI to support multiple errors.

[2017-03-15 21:10] #1154 closed

[2017-03-20 17:51] cromulus commented on #1166
FWIW, I have the same problem.

[2017-03-20 18:11] stevecrozz commented on #1166
@cromulus are you also using mongo 3.4.2? I haven't taken the time to look at this yet, just collecting data atm.

[2017-03-20 19:05] cromulus commented on #1166
mongo 3.2.9

Currently running Errbit inside of Dokku

[2017-03-22 14:28] alxppp commented on #1158
@titpetric Great idea!

We're using
[code]

so we can keep the login data in a docker-compose `secrets.env` environment file and don't have to commit the Errbit credentials.

[2017-03-28 17:32] stevecrozz commented on #1168
Fixed in #1183

[2017-03-28 17:32] #1168 closed

[2017-03-29 02:04] s2ugimot commented on #1104
@dsandstorm I'm interested and was looking for exactly the same thing what you have done. Can you push your branch or put patch on gist?

[2017-03-29 19:37] dsandstrom commented on #1104
Added a PR.

[2017-04-03 08:27] daedeloth opened #1185 "NoMethodError: undefined method `match' for nil:NilClass"
This error keeps to pop up when trying to open the detail view of an issue.

Full stack trace:
[PROJECT_ROOT]/decorators/backtrace_line_decorator.rb:5→ in_app?
[PROJECT_ROOT]/decorators/backtrace_decorator.rb:9→ block in grouped_lines
[PROJECT_ROOT]/views/notices/_backtrace.html.haml:6→ call
[PROJECT_ROOT]/views/notices/_backtrace.html.haml:6→ each
[PROJECT_ROOT]/views/notices/_backtrace.html.haml

[2017-04-06 10:23] Payetus opened #1186 "Question: Can errbit be installed in a windows server?"
By company policy, most servers should be windows OS (Trust me I fought it). Could I install errbit in a Windows server, even if thr ruby version is not possible. Maybe errbit-PHP?

[2017-04-06 12:02] kumarks1122 commented on #1017
Changing the ruby version did the trick for me

[2017-04-06 15:48] stevecrozz commented on #1186
First thing that comes to mind is docker. If you can run docker containers, you can run errbit: https://hub.docker.com/r/errbit/errbit/

Another idea is the linux subsystem feature which I've never used: https://msdn.microsoft.com/en-us/commandline/wsl/install_guide

As far as running natively, I've never tried it and I'd be surprised if it works, but in theory it should...

[2017-04-07 09:00] ilchanka opened #1187 "High memory consumption during clear_old_resolved task"
Hi

I have a problem when running clear_old_resolved rake task, I repeated this in console an this is what I got
[code]
And this is result after 20 mins in newrelic
http://prntscr.com/ethkri

First ```Problem``` that is tried to be deleted had around 50k ```notices```. Looks like the throuble here in running ```problem_recache``` callback after destroying ```Notice```. Maybe we can set in ```Err``

[2017-04-07 15:41] stevecrozz commented on #1187
It would be good to see how well that works.

There is also an 'interactor' for this procedure that you can try:
https://github.com/errbit/errbit/blob/master/app/interactors/problem_destroy.rb

If it works, then maybe the solution is to add better documentation :)

[2017-04-07 15:44] ilchanka commented on #1187
@stevecrozz nice, I will try this interactor and will change code in task if it works

[2017-04-07 22:49] cromulus commented on #1166
FYI, have the same problem on another, brand new installation.

[2017-04-08 00:35] cromulus commented on #1166
Adding `gem 'kaminari-mongoid'` to your gem file fixes this.

[2017-04-10 15:30] tartinesKiller commented on #1185
Same here, it seems it happens when an entry of a backtrace have it's file_name set to null.
This field is set to null by the SharpBrake Notifier [https://github.com/airbrake/sharpbrake](url) for example.
Unfortunately, I don't known Ruby, so I can't really provide a fix... but I hope I've helped a bit nevertheless. I hope a Ruby-lover will fix this, thanks in advance!

[2017-04-11 08:57] rud commented on #1177
Patches are most welcome

[2017-04-11 09:53] tartinesKiller commented on #1185
I've created a quick n' dirty fork from Sharpbrake, which replace empty filenames (in case of lambda for example) with "<lambda>"; errbit is now showing the issue correctly. This is a temporary fix, but I hope it can help.
[https://github.com/tartinesKiller/sharpbrake](url)

[2017-04-12 07:25] daedeloth commented on #1185
I feel like it should be fixed in errbit itself.

Either it is changed to a required field and it doesn't accept any input without file_name (ignoring errors = not cool), OR the view method is fixed and no error is thrown when file_name is null.

[2017-04-12 07:38] tartinesKiller commented on #1185
It's what I think too, but right now I don't have the time to dive into ruby.

Errbit is "Airbrake API compliant", and in Airbrake null file_name might be correct (I don't think such an error exists in the official c# notifier). So I think the best thing to do is changing the notice view logic in order to allow null file_name.

[2017-04-12 09:15] tartinesKiller commented on #1185
I just found this pull request: [https://github.com/errbit/errbit/pull/1135](url)

[2017-04-19 13:11] micred commented on #1166
Same problem here, but adding kaminari-mongoid doesn't fix.
Please do a diff with upstream/master and tell us if there are other changes needed.
Thank you

[2017-04-19 19:23] cromulus commented on #1166
@micred I also apparently ran a `bundle update` as well.

[2017-04-20 00:38] MohamedBassem opened #1190 "Feature Request: Support snoozing notifications"
I have an errbit app with slack notifications enabled. Whenever a cronjob fails, it gets restarted and I get a slack notification from errbit which is nice. When the job is restarted and fails again, I get another slack message. The channel is then spammed with the same error happening over and over again even when I'm actually fixing the bug. My feature request is adding the ability to snooze/sil

[2017-04-24 16:03] Starkmann opened #1191 "Creating new user has no email vaildation"
You can create accounts with email addresses that are already existing.

And the last created account is the only one you can lock in with.

Example:

Admin user:
peter
pe@ter.de
[x] is admin

New user:
heinz
pe@ter.de
[] is admin

Login works now just for heinz, peter can not login anymore. So admin account is lost!

[2017-04-24 16:04] stevecrozz commented on #1191
Thanks for the report. Looks like a good one!

[2017-04-25 13:55] Starkmann commented on #1191
Sorry this was my mistake. This bug doesn't exist.

Validation works as expected.
[code]

[2017-04-25 18:11] stevecrozz commented on #1191
No prob. Thanks for taking the time anyway.

[2017-04-25 18:11] #1191 closed

[2017-04-25 20:12] raddrick commented on #133
Heroku gives a SIGTERM error everytime a dyno shuts down, its not an issue and is normal behaviour.

[2017-04-26 09:47] Starkmann commented on #1163
I would also like to have this feature. The using the netbrick fork i not a solution for me, because it seems to be unmaintained.

[2017-04-26 09:48] Strnadj commented on #1163
Yes @Starkmann we've moved to different error catcher 👎

[2017-05-02 10:44] MarkusHarmsen commented on #955
@md5 I made a (very basic) SAML authentication implementation (see #1192). Do you still see any issues using the `omniauth-saml` gem? I do see your point regarding an interoperable SAML-based login solution, but at least it worked fine for the GSuite.

[2017-05-09 11:55] pacolotero opened #1193 "ActionView::Template::Error in /problems"
I get this error accessing to /problems:

[code]

The backtrace in Self.Errbit
[code]

**Ruby version** - ruby 2.4.0p0
**Commit** - 068c9fcf3366f9050e26b0764b66031f525d24f2  README: fix the prominent screenshot links (#1188)

[2017-05-09 17:52] stevecrozz commented on #1193
Thanks for the report @pacolotero. If you're able to gather any more info on this it could be helpful. I can't tell from the stack trace which function is expecting a proc and getting an integer instead.

But just as a shot-in-the-dark possibility, I do know that Ruby 2.4 has a 'unified integer' and since this trace mentions integer and Ruby 2.4 I've got to wonder if we have an incompatibility wit

[2017-05-10 08:15] pacolotero commented on #1193
Downgrading to ruby 2.3.4 resolv the problem. Thanks @stevecrozz !

[2017-05-22 22:11] mdpatrick commented on #420
It seems that a lot of these exceptions might be nice to outline in a wiki article or in the docs somewhere. I expect most people don't care to have 404s (whatever their exception type) reported!

[2017-05-23 07:54] floehopper opened #1197 "Errbit::VERSION does not match latest release tag"
[`Errbit::VERSION` is "0.6.0"](https://github.com/errbit/errbit/blob/d75676500bbf87a56a81f36c5b15caf4f669c6ef/lib/errbit/version.rb#L2), but the latest release tag is "v0.6.1" which tags [this commit](https://github.com/errbit/errbit/commit/a0929bc86efafc3536b97c818b540d8173842326).

Also there is no entry in [`CHANGELOG.md`](https://github.com/errbit/errbit/blob/d75676500bbf87a56a81f36c5b15caf4f6

[2017-05-23 11:53] stevecrozz commented on #1197
Good point about the mismatched version constant. I suppose we should update that.

Regarding the changelog, I'm thinking of getting rid of it and updating the contribution guidelines because I've taken to using a combination of milestones such as https://github.com/errbit/errbit/milestone/11 and the regular commit log. I found that I had been copy pasting lines out of the commit log into the chan

[2017-05-23 14:06] floehopper commented on #1197
As a user of the software, I'd definitely prefer for it to be easy to see what's changed between versions, but obviously that has to be balanced against how much time you (and any other maintainers?) have for maintaining the CHANGELOG. I think there's sometimes value in having a summary of the changes rather than just the detailed commit note subject lines. But in the end, I think it's your call!

[2017-05-23 18:52] sahglie opened #1198 "support mentioning users as part of hipchat room notification"
When notifications are sent to hipchat rooms, developers can't receive a push notification unless they are @mentioned. Getting a push notification when an error happens seems like a fairly useful feature: it definitely is for my team.

Here is a pull request that implements this functionality: https://github.com/errbit/errbit/pull/1189

[2017-05-24 11:25] jgoetze opened #1199 "Syntax Error in apps_helper"
Hi, I tried to update Errbit from 0.3.0 to 0.6.0. Doing that, I encounterd that error below. So I set it up from scratch. Its deployed via capistrano, running on a nginx. I still got the same error. The only post regarding this pointed to a wrong ruby version, but I checked again and I am running 2.1.0. what should be ok to run.

I am confused, that it is a syntax error here. Anyone can help me wi

[2017-05-24 11:54] stevecrozz commented on #1199
Something doesn't seem right about your Ruby. Can you triple check the ruby version using RUBY_VERSION in a rails console or just irb?

Starting with version 2.1.0, Ruby allows an inline syntax for declaring private methods because defining a method now returns a symbol corresponding to the method name. You should get answers like these from the console:
[code]

[2017-05-24 13:21] jgoetze commented on #1199
Thanks for your reply, stevecrozz.
I checked the version again and it worked. I have upgraded to 2.3.4 in the meantime.

It workes now. I have just tried to run the bootstrap task on the server. (after upgrading to 2.3.4 - so dont know if this is relevant) This now worked. Before, after creating the initial admin user it failed, but know he was able to create the indexes. Dont know, what was messe

[2017-05-24 13:27] #1199 closed

[2017-06-28 09:47] maxper75 opened #1203 "Sending notifications via Airbrake API with Java client not working"
Hi,
I'm trying to send notifications to errbit using the official java airbrake api, without success.
After solving SSL problems (I use letsencrypt CA), now I have a big problem connected with the matter that I fire, using Airbrake API, the contents in XML format, while the errbit api expects it in json, for what I could understand from the log.
what am I doing of wrong?
This is the output in the

[2017-06-30 17:17] jordoh commented on #1170
I have an immediate use case for this, and would be interested in working up a PR for it. My minimal wishlist for this feature would be:

- Associating `Problem` with a single `User`
- UI on problems#_list to show assigned user (if any)
- UI on problems#show to assign user; show assigned user (if any)
- Email notification to user when a problem is assigned to them by another user
- New page to lis

[2017-06-30 17:42] stevecrozz commented on #1170
This is certainly a good idea with many uses, but it overlaps with issue tracking which is something Errbit has outsourced to external systems. Why not use github/jira/trac etc and gain all the power of a full issue tracking system? There are errbit plugins for a variety of issue trackers.

[2017-06-30 18:14] jordoh commented on #1170
For my part, there are some issues with outsourcing this to external trackers; mainly:

1. We receive email notifications from and perform investigation of `Problem`s in errbit itself - moving knowledge of who is responsible for (or investigating) a particular `Problem` to an external tracker introduces indirection that has resulted in confusion for us in the past.

2. We have a high enough volume

[2017-06-30 21:33] stevecrozz commented on #1203
Well this is interesting. I haven't used this library, but it l can tell you that Errbit's V3 endpoint does not support XML for error notices. There is an older API you can use to deliver XML notices and path for that is /notifier_api/v2/notices. So that may be a quick fix option.

If you have the flexibility, though, I'd recommend using the newer API (the path you're currently using) with JSON fo

[2017-06-30 21:54] stevecrozz commented on #1170
@jordoh I think you've got some good points, but I'm not understanding the one about 10,000+ errors. What I've seen is that we triage issues in Errbit by finding an error and then clicking the 'add to jira' button (or whatever plugin you're using). So that creates a trackable, albeit external, issue at the time you click the button. And the end result is issues in your external tracker only for th

[2017-06-30 23:52] jordoh commented on #1170
@stevecrozz - sorry, I should have clarified that our assignment/issue creation has been automated (we've done this with hosted services in the past, and do it in a makeshift way with comments in errbit now). Our volume is high enough that manual assignment, manual issue creation, and opt-in watching are too time-consuming and prone to omission.

I think the workflow you describe - both the manual

[2017-07-03 14:59] jonathantribouharet opened #1205 "Invalid HTTP verb for curl command"
Hi,
for some of my errors, I have in the tab Environment the value "HEAD" for HTTPMETHOD, but for the curl command I have a GET, so when I copy / paste the curl I was enable to reproduce the error (due to a check on the HTTP verb in my application).

Thanks.

[2017-07-03 16:59] stevecrozz commented on #1205
Hello @jonathantribouharet. Can you add more to your description and ideally steps to reproduce the problem you see including 1) what you did, 2)what you expect, and 3) what you see instead?

[2017-07-03 17:22] stevecrozz commented on #1197
This makes sense. We've been using github milestones for tracking changes over time so I went ahead and created a 0.6.1 milestone and populated it with the items that made it into that release. Thanks for pointing out this issue @floehopper !

[2017-07-03 17:23] #1197 closed

[2017-07-03 17:36] floehopper commented on #1197
👍

[2017-07-03 17:38] jonathantribouharet commented on #1205
Ok,
for reproduce the problem you need to have an exception that happen because of a HEAD request.
My app is in Ruby On Rails 4.2.7.1 with Ruby MRI 2.2.3.

You can try in a simple Rails project with a method like this:
[code]

in the tab Environment I have this:
<img width="934" alt="screen shot 2017-07-03 at 19 34 10" src="https://user-images.githubusercontent.com/188946/27802868-b40ccbb8-6026-11

[2017-07-03 17:39] floehopper commented on #1197
@stevecrozz: Are you planning to update the `VERSION` constant too?

[2017-07-03 17:59] stevecrozz commented on #1197
Ah yeah I suppose I should. I'm also going to create a RELEASE.md file so I stop forgetting to do this stuff.

[2017-07-03 18:01] floehopper commented on #1197
👍

[2017-07-06 12:57] sahglie commented on #1198
Hi,

Just wanted to follow up on this issue as I've heard nothing for over a month.  Would definitely appreciate some feedback.

Thanks.

[2017-07-06 16:26] stevecrozz commented on #1198
Thank you for following up @sahglie. I'll have a look today.

[2017-07-09 06:43] johnmcconnell opened #1206 "Resolve: URI::InvalidURIError: the scheme http does not accept registry part: errbit.<domain>.com:tcp: (or bad hostname?)"
![snapshot146](https://user-images.githubusercontent.com/1870400/27991800-3121ad30-6437-11e7-8e4e-ef99bc8d462e.png)

[2017-07-09 06:46] johnmcconnell commented on #1206
This is most likely an affect of the module `URI` from not defaulting to the `http` scheme if none is given.

I haven't confirmed this however.

[2017-07-10 05:54] johnmcconnell commented on #1203
FYI, I would be a bit skeptical of the "java" airbrake client. I have used it myself and have encountered a few bugs. For example, https://github.com/airbrake/airbrake-java/pull/52

[2017-07-10 07:49] alexmreis commented on #1203
@maxper75 You're using the wrong errbit url. You have to append `/notifier_api/v2/notices` to the URL you give to AirbrakeNotifier. This java cient seems to not have been updated to version 3 and beyond of the airbrake API, and Airbrake's website no longer even mentions its existence. They've abandoned Java for greener pastures like Python and Node.js

[2017-07-13 09:17] zedalaye opened #1208 "With updated gems, 'kaminari-mongoid' is required"
I just upgraded my Errbit instance to current master, run `bundle update` (that updated tons of gems like kaminari...) and I run into this error:

[code]

I found at StackOverflow that the solution to this problem was to install 'kaminari-mongoid' (https://stackoverflow.com/a/43573106/258622) . I simply added that gem to UserGemfile and I got my Errbit back.

[2017-07-14 21:21] phene opened #1209 "English Locale Problem"
The key `en.notices.summary.tenant` has the value "Origem", which I suspect should be something like "Source."

[2017-07-14 23:13] stevecrozz commented on #1205
Thanks for the report. I understand what you're seeing now. This is the logic we have for figuring out the "curl" command:
https://github.com/errbit/errbit/blob/v0.6.1/app/models/notice.rb#L98

It looks like it is expected that there will be a `REQUEST_METHOD` in the reported environment, but I see that you have a different env variable called `HTTPMETHOD`.

I suppose we can add HTTPMETHOD as a fa

[2017-07-14 23:17] #1193 closed

[2017-07-14 23:35] stevecrozz commented on #769
I'm finally getting around to this. Are you interested in helping convert some plugins @mfrederickson or integrating the new plugin notifier system with errbit core? Here's what I've got so far on the plugin side: https://github.com/errbit/errbit_plugin/pull/8

[2017-07-14 23:37] mfrederickson commented on #769
No, I'm rather busy with a bunch of other stuff at the moment, sorry.

On Fri, Jul 14, 2017 at 3:35 PM, Stephen Crosby <notifications@github.com>
wrote:

[2017-07-14 23:41] stevecrozz commented on #769
No prob at all. I'm gonna try to plow through the core integration parts next. In case anyone is watching this and wants to adopt a notifier, let me know!

[2017-07-15 00:17] jonathantribouharet commented on #1205
I don't need it, now I know the problem but I supposed I'm not the only one who may have this problem, and I don't understood why I had a crash because I was trying with a GET. It's a Rails app, without fancy configuration, and i only have the problem with head request. I don't know why the REQUEST_METHOD is not set and why the browser make this requests, it's only for some of my users.

[2017-07-15 01:25] stevecrozz commented on #1205
Thanks for pointing this out. I'm going to get rid of this feature because I don't see a way to make this reliable/maintainable. It would be really handy if it worked, but every server is so dramatically different there's just no way we can do this well on Errbit's side.

[2017-07-15 01:53] #1205 closed

[2017-07-17 12:39] darix opened #1212 "any reason why mongoid is locked down to a 2y old version?"
just wondering

[2017-07-17 12:49] darix commented on #1212
jquery-rails is even older

[2017-07-17 18:43] stevecrozz commented on #1212
There's no good reason too keep using these old versions other than this hasn't yet made it onto my list of priorities. Are you volunteering? I'd appreciate the help :) If you are, I'd recommend tackling these two items separately.

[2017-07-25 16:08] kohenkatz commented on #1186
It does work, but the performance of Ruby on Windows is absolutely terrible. Don't do it.

[2017-08-31 08:34] pioneerskies commented on #1113
@stevecrozz @robinboening I was having same exact issue. Running `rake db:mongoid:create_indexes` on my heroku instance fixed the problem.

[2017-09-02 15:50] irfanfadilah commented on #1206
I also got same issue, the URL become: https://errbit.DOMAIN.com:tcp://IP:PORT/

[2017-09-03 14:15] 2called-chaos commented on #1165
@davidlesches Have you found a solution yet? I experience the same issue :(

[2017-09-05 17:06] jhelwig opened #1220 "ERRBIT_PORT not used when generating redirect_uri for GitHub auth"
It looks like GitHub recently started being more strict about checking the `redirect_uri` against the configured OAuth app settings, since we started getting the following when trying to log in to Errbit using GitHub auth:

[code]

We already set `ERRBIT_PORT` to `443`, but the `redirect_uri` that ends up in the GitHub login URL is for `https://<our-host>:8080/users/auth/github/callback`.

[2017-09-06 19:37] jimmycuadra commented on #1220
I think this could be fixed with something along these lines being called at the appropriate time during application start up:

[code]

[2017-09-06 20:14] jhelwig commented on #1220
More specifically, the problem appears to be that when running the official Errbit Docker container in Kubernetes, the default host detection logic sees the port that Kubernetes is using to talk with Docker, and not the port that users use to talk with Errbit. Respecting `ERRBIT_PORT` (and the related `ERRBIT_*` settings to set `OmniAuth.config.full_host`would fix this.

[2017-09-12 10:27] boris-petrov opened #1225 "Support the X-Airbrake-Token header"
I've been trying the [new Java airbrake notifier](https://github.com/airbrake/javabrake) however they are sending the API key via a `X-Airbrake-Token` header instead of as a query parameter (see [here](https://github.com/airbrake/javabrake/blob/9953317c70fe2307d91b8573a7588b6ea5db8611/src/main/java/OkSender.java#L53)). Errbit doesn't seem to support that. Is this a difficult one to implement? :)

[2017-09-12 17:01] stevecrozz commented on #1225
It should be easy to add support for this, but something doesn't make sense to me and I've raised an issue with javabrake. Hopefully they'll clarify: https://github.com/airbrake/javabrake/issues/17

[2017-09-12 19:03] boris-petrov commented on #1225
@stevecrozz - well, I already did open something like this: https://github.com/airbrake/javabrake/issues/16 - there they explain why they do it. :)

[2017-09-12 19:58] kohenkatz commented on #1203
@maxper75 In addition to what @alexmreis said, you are also setting the API key in the URL but the notifier is adding it *again* after that, causing the API key to appear in the request URL twice and to be parsed improperly.

[2017-09-12 20:14] stevecrozz commented on #1225
Thanks. I didn't see that. I guess this may be an undocumented feature of the Airbrake API. Either that, or I didn't spot the place where this feature is described.

[2017-09-12 21:10] stevecrozz commented on #1208
This is good to know about for whenever we upgrade gems. But I don't plan on making a change here as we don't need to support arbitrary `bundle update`. The Gemfile.lock to defines exactly the gem versions that are known to work with Errbit and that should be all we need.

[2017-09-12 21:10] #1208 closed

[2017-09-13 05:43] alexmreis commented on #1203
Just a heads up about https://github.com/airbrake/javabrake which seems to be their new, supported client going forward, and uses the JSON API instead of the (deprecated) XML API.  You should probably switch @maxper75

[2017-09-19 20:35] #1225 closed

[2017-09-20 09:28] boris-petrov opened #1229 "NPE in notice.rb"
Sending a v3 notice without a `message` parameter causes the following exception:

[code]

According to the [documentation](https://airbrake.io/docs/api/#create-notice-v3), `message` is not a mandatory field.

[2017-10-06 11:30] gabriellett commented on #1209
Looks like this was fixed by 842417716

[2017-10-06 20:49] #1209 closed

[2017-10-12 09:47] ProGM opened #1230 "Deployment on now.sh"
Dear maintainers,
I've been using errbit for a while in my projects. Recently I discovered a new deployment platform, [`now`](http://now.sh).

It can easily deploy dockerized projects and it's free for small environments.

I've written a guide to deploy there:

https://github.com/ProGM/errbit/blob/deploy-on-now/docs/deployment/now.md

Would you accept a Pull request?

I have a small concern about

[2017-10-17 17:41] activeshadow opened #1231 "How to set component, action, and environment name in notices?"
I'm using both the `airbrake-ruby` and the `gobrake` client libraries in my code, and I'm wondering how I go about setting the notice fields that map to the `component`, `action`, and `environment name` fields available in the **Notice Fingerprinter** configuration.

Can someone point me in the right direction?

[2017-10-17 20:52] stevecrozz commented on #1231
Should be these fields:
https://airbrake.io/docs/api/#create-notice-v3

context.component, context.action and context.environment. Are they not working as expected?

[2017-10-17 20:57] activeshadow commented on #1231
Ah... OK, thanks @stevecrozz. I wasn't aware of those and will try them now. Thanks!

I'll close this once I've tried and confirmed your suggestion.

[2017-10-19 08:32] SuhailParmar opened #1232 "Errbit fails to start on OpenShift"
Hi,

[code]

This error is thrown when I run errbit on openshift. I believe the problem is due to OpenShift controlling which user the applciation runs as. A possible cause could be these lines in the Dockerfile.

[code]

Would you accept a pull request where I keep the files readable by all users?

Thanks,

Suhail

[2017-10-19 17:13] stevecrozz commented on #1232
It wouldn't bother met to change to a world readable app folder (755 or even 775). But if possible I'd like to understand a little bit about how this works in OpenShift. Do you have a link to any relevant docs that explain why it doesn't work in its current state?

[2017-10-20 07:45] hoffi opened #1233 "Mongo::Error::OperationFailure: exception: Btree::insert: key too large to index, failing errbit.problems.$message_1 1267"
Looks like the same issue as #1001.

We got the error:

for an exception with a very long (> 1000 chars) message. Stacktrace is:

[code]

We are on commit 422d583b9f3fdc325f9b06d8907976c7300c40ab with Ruby 2.2.5

[2017-10-20 13:43] SuhailParmar commented on #1232
Sure, OpenShift itself has capabilities to allow containers to be run as root but to conform to best security practices containers shouldn't run as root.
 https://medium.com/bitnami-perspectives/running-containers-in-openshift-629af79945b5
 https://docs.openshift.com/enterprise/3.2/admin_guide/manage_scc.html#enable-images-to-run-with-user-in-the-dockerfile

Even if a user is specified in the Dock

[2017-10-20 16:48] stevecrozz commented on #1232
I've got no objections. Thanks for the explanation.

[2017-10-20 16:48] #1232 closed

[2017-10-20 17:36] stevecrozz commented on #1233
Thanks for the report. So far I haven't been able to reproduce this in a unit test because saving a notice truncates its message and that happens before the cache_notice method is called. That's the way its supposed to work. I'll try calling it in a real environment soon with a big notice. If you're able to write a failing unit test that could help a lot, but I'm sure I can figure it out eventuall

[2017-10-21 15:37] marcelloceschia opened #1235 "RuntimeError: Circular dependency detected while autoloading constant AirbrakeApi::V3::NoticeParser"
WHERE:
api/v3/notices#create

app/controllers/api/v3/notices_controller.rb:17

[code]

[2017-10-21 18:51] stevecrozz commented on #1235
Never seen that one before. Is there more to the stack trace?

[2017-10-21 18:58] marcelloceschia commented on #1235
@stevecrozz sorry, I forget to include the backtrace. I've updated the initial comment.
Just as notice, I've updated the application to the latest master version this morning

[2017-10-21 19:43] stevecrozz commented on #1235
This is very strange. Can you tell me a bit more about how you get here? This happens whenever you send a notice? I'm not able to reproduce this yet, so if you can help walk me through the steps to reproduce this issue it would be great. Also, what version of Ruby do you have?

[2017-10-21 20:13] marcelloceschia commented on #1235
I'm not sure when this occurred. It looks like that occurred during a notice creation, but I will check this again.
I've manually triggered an notice, but in this case it did not triggered this error. May be it will only occur after a restart. I will watch for this "issue" and I hold you up to date.

ruby version: `2.1.9p490`

Environment:
[code]

[2017-10-23 15:21] hoffi commented on #1233
Hi i also tried to reproduce it with a clean install. It only seem to fail with a special message.
In my case:
[code]

However this message (also over 1000 chars) does work:

[code]

And this one not:

[code]

Seems like it has something todo with this "þ" in the error messages.

[2017-10-24 08:10] hoffi commented on #1233
I can reproduce it in a unit test if you change the `long_message` variable inside the unit test in `spec/models/notice_spec.rb` to one of the problematic messages from my last comment.

Example:
[code]

[code]

[2017-10-27 09:18] jklimke commented on #1220
The above solution will probably break oauth authentication for errbit instances that are deployed as a docker container behind a HTTP server handling the SSL encryption - errbit is usually running not on the same port within the container as its public endpoint (e.g. public port 443, docker instance port 8080).

Probably there needs to be another configuration parameter to switch this

[2017-10-27 23:29] jhelwig commented on #1220
The above is actually to handle exactly that scenario. Errbit is running in a docker container on 8080, while there's an HTTP reverse proxy in front of it handling SSL termination.

[2017-11-04 04:19] tjnet commented on #1177
PORT variable in Dockerfile is not present now.
Does problem still remain?

[2017-11-04 07:21] giorgian commented on #1177
Hi, thank you, yes, now it can be closed as the port is fixed.

[2017-11-06 19:46] tindron opened #1236 "Support key passed through Authorization header"
As of airbrake-ruby 2.5.1 the project key is passed through the Authorization header instead of as a query param.  (https://github.com/airbrake/airbrake-ruby/pull/278)

[2017-11-09 03:25] #1236 closed

[2017-11-17 17:37] kbiedrzycki opened #1239 "Javascript source maps"
It's more like a question than issue - is errbit capable of handling javascript source maps? Now, when I am reviewing errors handled by errbit I can see minified backtrace. I see that Airbrake api can handle source maps, how it looks like with errbit support to handle sourcemaps?

[2017-11-17 18:05] stevecrozz commented on #1239
It isn't, but I really wish it was. I haven't looked too deeply into the way airbrake does this, but I think this could be implemented without any errbit changes. If I had the time, I'd like to experiment with a client-side JavaScript package that can take a stacktrace from a bunch of minified javascript, download the source maps for the files referenced, and create a new, more legible stack trace

[2017-11-20 07:24] kbiedrzycki commented on #1239
@stevecrozz - right, that might be true. I've made some research and found out https://www.stacktracejs.com/ which might be helpful here, I'll play around and let you know 👍

[2017-11-27 10:00] grfx1985 opened #1240 "heroku issues"
1. deployed to heroku usig the magic button

2. migrated to mlab an existing database from different server

- show for errors not working
![image](https://user-images.githubusercontent.com/7990372/33261194-528f679c-d362-11e7-98e1-35f0140e9041.png)

`
2017-11-27T09:52:17.699882+00:00 app[web.1]: Started GET "/apps/576020809cad0921df000004/problems/58f0b9e79cad0920680002e5" for 83.26.192.242 at 201

[2017-11-27 18:53] #1240 closed

[2017-12-13 20:33] sumi-kumar opened #1243 "Errbit display "We're sorry, but something went wrong. We've been notified about this issue and we'll take a look at it shortly.""
While hitting errbit url it display:

We're sorry, but something went wrong.
We've been notified about this issue and we'll take a look at it shortly.

[2017-12-13 20:49] stevecrozz commented on #1243
Thanks for the report. In order to troubleshoot, I'll need to take a look at the logs from the time of the error. Can you recover the relevant log information?

[2017-12-14 01:17] GBH commented on #746
Bootstrap 4 beta is a thing now.

[2017-12-18 13:08] sumi-kumar commented on #1243
Sorry, but don't have logs. Could you please suggest me what to do as I am in great trouble!!!!

[2017-12-18 17:43] stevecrozz commented on #1243
Unfortunately not. The application logs are the only place where we can spot the error. There's really no other way to find the problem. Please reopen this if you can get the logs and need help understanding them.

[2017-12-18 17:43] #1243 closed

[2017-12-20 21:57] tmaier opened #1244 "Helm chart for Errbit"
I just created a [Helm chart](https://helm.sh) for Errbit.
Helm is something like a templating language and management engine for Kubernetes.
It allows to easily deploy and upgrade Errbit clusters (Errbit + MongoDB)

It is currently located at https://github.com/tmaier/errbit-helm

It would be great if people with Kubernetes and Errbit experience would give feedback on it. (e.g. @pigri, @jasquat o

[2017-12-20 22:39] burnettk commented on #1244
I tried to fire it up but I'm not in an environment that supports PersistentVolumeClaim, so mongo can't start. Mongo has an option, `persistence.enabled` (https://github.com/kubernetes/charts/tree/master/stable/mongodb), that, if I could set it to false, I think would make it work (at least to test). I'm not certain how this sort of thing is generally handled. Maybe it would be possible for the ch

[2017-12-20 23:39] tmaier commented on #1244
Hi,

thanks for trying it out.
I would recommend to leverage the inheritance feature of Helm. This means you have multiple `values.yaml` files. One within each Helm Chart (there is the main chart `errbit-helm` and its subchart `mongodb`) and then there is a local one you should maintain with your custom configuration.
The load order is 1) subcharts 2) chart 3) custom `values.yaml`. Later one would

[2017-12-21 14:09] burnettk commented on #1244
using the [inheritance stuff](https://github.com/kubernetes/helm/issues/630) largely worked, nice call!

working four-liner with no mongo persistence:

[code]

[2017-12-21 18:14] jasquat commented on #1244
@burnettk and I made some updates to the errbit fork at https://github.com/jasquat/errbit.git to get the health checks working with [errbit-helm](https://github.com/tmaier/errbit-helm). We also added the docker-entrypoint.sh entrypoint from errbit-helm to this fork. I'm not sure if the errbit repo is the correct place for it but seems appropriate.

We're still testing out this fork and we will sub

[2017-12-22 10:14] zealot128 commented on #1236
Just run into the problem but didn't found this issue.
I will just add the error message from the Airbrake client here to help further Googler's that run into the problem:

[code]

[2017-12-22 15:44] tmaier opened #1245 "Document ERRBIT_ADMIN_USER, ERRBIT_ADMIN_EMAIL and ERRBIT_ADMIN_PASSWORD"
https://github.com/errbit/errbit/blob/master/db/seeds.rb

ERRBIT_ADMIN_USER, ERRBIT_ADMIN_EMAIL and ERRBIT_ADMIN_PASSWORD can be set to help define the admin user

They are missing at https://github.com/errbit/errbit/blob/master/docs/configuration.md

This is related to Pull Request #1221

[2017-12-27 07:33] sumi-kumar opened #1246 "While accessing errbit url I am getting something went wrong error"
We're sorry, but something went wrong.
We've been notified about this issue and we'll take a look at it shortly.

On google console:

Failed to load resource: the server responded with a status of 502 (Bad Gateway

[2017-12-29 09:24] Ana06 opened #1247 "Release wanted"
Could you please release to include https://github.com/errbit/errbit/pull/1237 ? 😉

[2018-01-06 22:17] stevecrozz commented on #1230
I'm not too keen on maintaining support / documentation for new strategies, but I wouldn't mind linking to yours if you plan to maintain it. We could include a link on the deployment strategies page if you'd like to add a pull request: https://github.com/errbit/errbit/blob/master/docs/deployment.md

I would just want to make sure its clear that this strategy is not maintained by errbit. Eventually